[2013-05-28 23:08] fulmicoton opened #1 "Wrapper and namespace"
It seems like the AlgoliaSearch object is the only public API and that
AlgoliaUtils_\* are just internal functions.

If this is the case, algoliasearch might benefits from a (function() {...})() wrapper in order to avoid global namespace pollution.

In addition, AlgoliaUtils_stringifyParamValues does not actually seems to be called anywhere.

[2013-05-29 06:05] #1 closed, assigned to nobody

[2013-05-29 21:26] fulmicoton opened #2 "Host vs Url"
The NodeJS version takes a list of hostname, while the JS client takes a list of URI.
The confirmation email returns a host. Maybe that would be nice to choose either way
or detect that http:// is missing and add it in JS.

[2013-05-29 21:34] fulmicoton opened #3 "Named argument for js client."
This issue is not exactly an issue, but I thought it might be a good thing to raise the subject before the client gets very popular. Have you thought of using a dictionary as an argument for the creation of the Algolia object?

As a benefit,

1) you could give the JSON representation of this dictionary in all the place where you present the user credentials. It will be a valid literal, ready for c

[2013-06-05 15:31] #2 closed, assigned to nobody

[2013-11-02 21:06] andy3rdworld opened #4 "Typeahead attributeName to obj.value mapping"
instead of setting the value of obj (obj.value) equal to the first match, would it make more sense to allow an argument in the constructor to explicitly the set the mapping between the propertyName and the object.value so that the order in which the object attributes are created in the index does not determine how the object.value <--> attributeName mapping is determined?

[code]

[2013-11-03 09:37] #4 closed, assigned to nobody

[2014-01-19 09:12] themihai opened #7 "the search demo should provide navigation"
![screen shot 2014-01-19 at 09 11 14](https://f.cloud.github.com/assets/1800192/1949143/983e5aac-80e9-11e3-92f1-38e4ceb0daac.png)

[2014-01-19 19:44] themihai opened #8 "Improve documentation - faceted search"
There is no  faceted search example . We need  counters on the attributes/categories the query matches so that we can provide the navigation bar.

[2014-02-10 17:06] zapnap opened #9 "Update typeahead to v0.10 (fork no longer required) / integration examples"
It's currently v0.9.3, latest is 0.10.1. Any reason not to update? (after applying the patch / PR that is)

[2014-03-25 19:36] GeorgeErickson opened #10 "Add to jsdeliver cdn"
See www.jsdelivr.com

PS There search page could use some help.

[2014-06-06 06:45] #10 closed, assigned to nobody

[2014-06-06 06:47] #9 closed, assigned to nobody

[2014-06-06 06:48] #7 closed, assigned to redox

[2014-07-23 18:48] gtenaschuk opened #15 "Set index method in the helper"
Hi Team, I was implementing a browse solution and I noticed that could be a good idea  on adding a method to set/change the index name in the helper.
Why? well, since we have to create different indexes for each "sort" option, we could just change the index name in the helper and then for example got to the page 0, that will let us to keep all the options, filters and also the callback method in t

[2014-07-23 18:56] #15 closed, assigned to nobody

[2014-09-15 08:54] javaguirre opened #16 "algolia in Bower"
It would be very nice to have Algolia js library on Bower, in our company we use [Bower](http://bower.io/) to handle js files and make the pertinent upgrades.

Thank you!

[2014-09-15 09:14] #16 closed, assigned to nobody

[2014-11-24 18:12] ymschaap opened #24 "remove the OPTIONS CORS call"
https://github.com/algolia/algoliasearch-client-js/commit/f97236b1d2183a2b4d478469bdf22ddb81d4e8ec commit reverted the setting of custom request headers because it didn't stop the OPTIONS request for CORS.

It mentions the request being POST still demands a OPTIONS request.

I found that if you set the Content-Type to: *application/x-www-form-urlencoded* and no custom headers you skip the OPTIONS

[2014-11-28 15:49] esquevin opened #25 "No tagged version with the DNS fix"
@redox fixed the bug in master, but I'd like to install it properly through bower

Thx

[2014-11-29 08:39] #25 closed, assigned to nobody

[2014-11-29 18:37] vvo opened #26 "Merge JavaScript and Node.JS libraries"
Are you interested in merging the client-side algoliasearch library along with
the server-side (Node.JS) library?

The goal would be to have one codebase and the browser side built with browserify.

Browserside should only embed search features like today.

I wonder if you already thought about it.

[2014-11-29 19:44] #26 closed, assigned to nobody

[2015-01-05 11:26] speedblue commented on #24
Sorry for the late answer, you are right about the OPTIONS request.
We will remove it in our next release of JS API client to improve performance

[2015-02-16 12:03] janesconference opened #32 "How to get all the results"
Hello, I read in the docs that:

However, when I search like this:

`index.search(undefined, searchCallback, {facets: '*', page: pageNum});`

It will search for the literal word `'undefined'`. Same for `'null'`.

Digging a bit on the code, I found that algoliasearch.js, line ~1206, does:

`var params = 'query=' + encodeURIComponent(query);`

(please mind I'm using v2.9.1).

Now, I didn't go to the

[2015-02-16 12:22] vvo commented on #24
@ymschaap This was solved in a06c2716760cace47ddc331694476625dc3dbbe2.

Latest release have this fix in, https://cdnjs.com/libraries/algoliasearch

[2015-02-16 13:14] vvo commented on #32
@janesconference Fast answer: You should be able to use:

[code]

About the:

I will work on it to reflect the documentation so every time query is not available (undefined, null, ''..), you get all results.

Let me know if the quick solution works.

[2015-02-16 13:25] janesconference commented on #32
@vvo: Tried it already, but it doesn't work.

It sends:

`http://zrgf6geoq8-dsn.algolia.net/1/indexes/publicLayers?callback=algoliaJSONP_1&X-Algolia-Application-Id=<myId>&X-Algolia-API-Key=<myKey>&query=&facets=*&page=0`

and Algolia returns a 400.

Even

`index.search('""', searchCallback, {facets: '*', page: pageNum});`

does not work (puts `%22%22` in the query, and the servers complains with a

[2015-02-16 14:10] vvo commented on #32
@janesconference can you come to the support so that I can chat with you and sort this out? I want to build a jsfiddle with you to see what's wrong.

To initiate a live support, go to your [support dashboard](https://www.algolia.com/support) and click on the bottom right on "Need help", I'll be there waiting.

[2015-02-16 14:53] janesconference commented on #32
For future reference to other users:
`index.search('""', searchCallback, {facets: '*', page: pageNum});`
works perfectly, but needs at least one search parameter / filter to avoid the `400` *if the distinct option is on* (so, pretty much a corner case).

Thanks to @vvo for identifying the problem and giving alternatives!

[2015-02-16 14:55] vvo commented on #32
For reference, an empty query AND a distinct parameters are no compatible: https://github.com/algolia/algoliasearch-client-js#distinct-parameter

We need at least one search criteria to be able to use "distinct" on queries. This is a good thing:

If your usecase is building the "first page" of your application, where you want to show some results but without any search criteria, adding a search cr

[2015-02-16 14:55] #32 closed

[2015-02-26 09:04] redox opened #33 "Clear refinements matching a specific criteria"
Something like:

[code]

[2015-02-27 15:10] bobylito opened #34 "Merge node and js version of algolia-client"
In order to realise full blown hyper trendy isomorphic apps, we should be able to use the same library on both side of the internet (client and server). And from what I understand, it's not only an implementation problem, it is also an API problem. The signatures being slightly divergeant in one implementation or the other which prevents us from doing a drop in replacement of the lib on each side

[2015-02-27 15:57] vvo commented on #34
would be feasible. will detail this in the v3 "roadmap" next week

[2015-03-02 19:31] redox opened #35 "AlgoliaSearchHelper: Simplify the hierarchical facets refinement"
To be able to build [such facet tree](http://jsfiddle.net/SpL3n/8/) without messy code.

[2015-03-02 19:46] vvo commented on #35
We need to work together on what you try to accomplish, tomorrow?

[2015-03-02 19:47] redox commented on #35
Deal!

[2015-03-06 15:03] vvo opened #40 "new AlgoliaSearch(appID, apiKey, opts, ..) => algoliasearch(params)"
## tl;dr;

[code]

## Boring stuff

The current constructor code has a lot of code going on and can be instanciated with a lot of different options/arity.

Also as it is a constructor, it must be used with `new AlgoliaSearch()`.

I propose to have only one way to instanciate the client, use only named parameters and a factory function instead of a constructor.

This reduces the overhead while usin

[2015-03-06 15:48] vvo opened #41 "CommonJS/AMD/UMD compatibility"
## tl;dr;

[code]

## Boring stuff

Our current JavaScript client is not commonJS compatible.

It cannot be used with [requireJS](http://requirejs.org/) or [browserify](http://browserify.org/).

The only way to use our module is to copy paste the `<script src=..>` tag in a webpage and use the globally available `AlgoliaSearch`.

This type of JavaScript library usage pattern is old and we must prov

[2015-03-06 16:13] vvo opened #42 "callback(success, res or err) => callback(err, res or undefined)"
## tl;dr;
[code]

## Boring stuff
The current callback convention for our JavaScript client is `index.search(callback)` where callback will be called with `callback(success, res or err)`.

A popular way to handle asynchronous JavaScript is to use the `callback(err or null, data or undefined)` convention.

Notable projects using or leveraging this callback convention:
- the whole [Node.js api](http

[2015-03-06 16:20] vvo opened #43 "ensure all methods accept a callback as last argument and only in last"
## tl;dr;

Example:
`index.search` signature is cryptic and embeds strange parameters like delay. It does not makes it clear that we must have a callback in last parameter.

Other signatures does not always have callback as last parameter.

## TODO

- [x] remove delay parameter in .search(), should be implemented by the user if needed
    easily implemented with [lodash.debounce](https://lodash.co

[2015-03-06 16:28] vvo opened #44 "Plugins architecture"
## tl;dr;

There's no plugin infrastructure in the code, resulting in `if (angular)` `if (jquery)`.

Create one that allows us to remove the specific builds code from the main `algoliasearch.js`.

## TODO

- [ ] create a plugin way to create specific jQuery and Angular builds rather than storing the custom code in the main `algoliasearch.js` file.
- [ ] Remove specific builds code from main algoli

[2015-03-09 08:19] vvo opened #45 "Return promises to every call"
## tl;dr;

[code]

## Boring stuff

Current JavaScript API client only sends promises when using Angular.JS or jQuery build.

We must return [promises](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Promise) to every API command.

We won't use Q or then, we use the native promise API, this is not a taste choice, only more relevant.

## TODO

- [ ] use https://www.npm

[2015-03-09 08:39] vvo opened #46 "Merge Node.js/io.js and browser JavaScript clients"
## tl;dr;

We currently have two JavaScript-like clients:
- Node.js: [npm/algolia-search](https://www.npmjs.com/package/algolia-search), [algolia/algoliasearch-client-node](https://github.com/algolia/algoliasearch-client-node)
- Browser: [npm/algoliasearch](https://www.npmjs.com/package/algoliasearch), [algolia/algoliasearch-client-js](https://github.com/algolia/algoliasearch-client-js)

Merge the

[2015-03-09 09:18] vvo commented on #46
![meme](http://i.imgur.com/Lr2W5zV.jpg)

[2015-03-09 13:27] vvo commented on #34
see #46

[2015-03-09 13:27] #34 closed

[2015-03-09 13:28] vvo commented on #3
see #40

[2015-03-09 13:28] #3 closed

[2015-03-09 22:45] redox commented on #40
I don't think we want a `dsnHost` option, I would prefer a boolean here. If you want to specify a custom hostname you can use the hosts array; isn't it?

[2015-03-10 08:31] vvo commented on #40
I agree we can ditch dsnHost and only provide the hosts options (where there's no shuffle, nor tld appending).

But what about the boolean? Do you want a boolean to deactivate DSN when using the default hosts?

[2015-03-10 08:33] redox commented on #40
You're right; I think we can just get rid of that boolean; I use it in the Algolia Indices explorer (because I use the JS client to perform indexing operations as well) but that's only because it's prepended even if I specify the hosts.

[2015-03-10 08:34] vvo commented on #40
Oh yes, no need for a boolean since as soon as we give hosts: [] custom hosts, we can do any complex case (no dsn, dsn,. ).

allright

[2015-03-10 15:15] #40 closed

[2015-03-11 10:48] #41 closed

[2015-03-12 10:51] bobylito opened #50 "Method search shouldn't have query parameters split in two different arguments"
in v2, the signature of this method is :
`( query: String, cb: function || falsy, options: Object || falsy ) => Promise || ()`

What I'd like to have is :
`(  params: Object || falsy, cb: function || falsy,) => Promise || ()`

**Motivation**

The changes make the api on par with the REST api. This then simplify explanations about the fact you can have the query both in arguments and in the options

[2015-03-12 10:55] redox commented on #50
Maybe `s/parameters/params`? `parameters` disturbed me -> not sure why but I think the code I use (& write) always rather use `params`.

[2015-03-12 13:09] bobylito commented on #50
Yes sure. Actually I do that myself. So why not :)

On Thu, Mar 12, 2015, 11:55 AM Sylvain Utard <notifications@github.com>
wrote:

[2015-03-18 10:11] #42 closed

[2015-03-19 10:40] vvo opened #53 "remove algoliasearch.helper from main project"
For V3 we can remove the algoliasearch helper from the main library.

The **first step** is to externalize it, make it work with V3, this is V1.
A second pass can be done by @bobylito to then enhance and refactor the helper
so that it answers our user needs efficiently.

- [x] create a new github project for the helper (algoliasearch-helper-js)
- [x] npm init, start at V1.0.0
- [x] algoliasearch-h

[2015-03-19 11:12] vvo commented on #53
@bobylito feel free to then open an issue on enhancing the helper. That's a step we will make after V3 release.

[2015-03-19 11:17] vvo commented on #50
In the end I do like the `.search(query, params, cb)` because it reads: `Search this using these parameters, then callback` while `.search(params, cb) ` reads `Search using these parameters, then callback`.

We can support both very easily since the documentation [already states](https://github.com/algolia/algoliasearch-client-js#full-text-search-parameters) that we can use `query:` in params

[2015-03-19 16:58] vvo opened #54 "remove JSON2.js from main library"
[JSON2.js](https://github.com/douglascrockford/JSON-js) is added to every build so that IE <= 7 is working with algoliasearch.js

It's adding a lot of code for a veryvery few users.

So we better add to our documentation that if you want to support IE7, include https://cdnjs.com/libraries/json2 and be happy.

- [ ] remove JSON2 module
- [ ] update changelog

[2015-03-19 17:22] vvo opened #55 "remove lodash-compat from main library"
I first used [lodash-compat](https://www.npmjs.com/package/lodash-compat) as a way to use forEach, map, etc.. in ES3 environments.

In the end, it adds a looot of code for 3 function calls (~6kb gzipd). So let's use our own implementations our small unique modules.

- [ ] remove lodash-compat functions by small modules/custom implementations

[2015-03-19 17:57] #44 closed

[2015-03-19 17:57] #45 closed

[2015-03-20 08:28] bobylito commented on #50
OK!

[2015-03-20 08:28] #50 closed

[2015-03-20 08:35] bobylito opened #56 "Pass the version of the client to the API."
When calling the rest API, send a new header that will state the client version. Parameter name proposition : X-algoliaclient-version

- [x] in V3
- [x] in V2

[2015-03-20 08:58] redox commented on #56
Introducing a new `X-Algolia-ClientVersion` (or `X-Algolia-Version` ?) looks good! cc @Nagriar

[2015-03-20 09:12] vvo commented on #56
This will help us get some stats about client version usage. It would be good to have it set in both V3 and release a new V2 (V2 branch) also.

So we can hopfully see a decrease in V2 usage.

[2015-03-20 13:55] vvo opened #57 "remove jsonp: parameter"
The `jsonp:null/true/false` parameter was used to force/disable jsonp.

After speaking with @redox, we decided that we could get rid of it for V3.

The V3 has a good implementation of the retry strategy and will not retry `hosts.length` * CORS when they are blocked.

As soon as there's an error (network error, server error) we will always use the fallback.

[2015-03-20 13:58] vvo opened #58 "previously exported globals should throw in V3"
the client initialization changed in V3 so previously exported globals should also throw:
- [x] new AlgoliaSearch
- [x] new AlgoliaSearchHelper
- [x] AlgoliaExplainResults()
- [x] tests

Add a precise message linking to the migration guide to V3 hosted on github

[2015-03-20 13:59] vvo opened #59 "migration guide from V2 to V3"
Create a migration guide from V2 to V3, hosted on github wiki

[2015-03-20 14:00] vvo opened #60 "rework the V3 changelog to make it simpler to read"
And move the long sentences to the migration guide.

[2015-03-20 14:19] vvo opened #61 "Reduce the number of tested browsers to speed up testing"
We are testing on a LOT of browsers, we should reduce them a little before we can run two test matrix easily (recent browsers, then old browsers).

[2015-03-20 22:53] #43 closed

[2015-03-20 22:57] #57 closed

[2015-03-20 23:24] #58 closed

[2015-03-20 23:31] #54 closed

[2015-03-21 00:35] #55 closed

[2015-03-23 11:04] vvo opened #63 "Do not break any client latest/algoliasearch.min.js usage"
## tl;dr;

We need to make the V3 release as smooth as possible in all cases. Even when the user includes the auto-updated "latest" algoliasearch.js

## Boring stuff

We advocated for some time to use http://cdn.jsdelivr.net/algoliasearch/latest/algoliasearch.js which means "Use the latest alogliasearch library which udpates automatically, YOLO".

We want our users to be up-to-date but using versi

[2015-03-23 14:39] #63 closed

[2015-03-23 14:53] vvo opened #65 "PR to update AlgoliaWeb for V3"
Use the [changelog](https://github.com/algolia/algoliasearch-client-js/blob/V3/ChangeLog) and [migration guide](https://github.com/algolia/algoliasearch-client-js/wiki/Migration-guide-from-2.x.x-to-3.x.x) to find the new features, breaking changes and new usages examples.

TODO:
- [x] Use the [changelog](https://github.com/algolia/algoliasearch-client-js/blob/V3/ChangeLog) and [migration guide](ht

[2015-03-23 15:00] vvo opened #66 "Update algolia-client-readme-generator"
TODO:

- [ ] Use the [changelog](https://github.com/algolia/algoliasearch-client-js/blob/V3/ChangeLog) and [migration guide](https://github.com/algolia/algoliasearch-client-js/wiki/Migration-guide-from-2.x.x-to-3.x.x) to find the new features, breaking changes and new usages examples
- [ ] Add note about jQuery IE9 support in readme, one must use https://github.com/MoonScript/jQuery-ajaxTransport-

[2015-03-23 15:03] vvo opened #67 "Update all jsdoc comments"
Jsdoc comments were not updated while doing V3, lets update them

[2015-03-23 20:31] vvo commented on #60
Not necessary a bad thing to have a very precise changelog. Devs will love it.

[2015-03-23 20:31] #60 closed

[2015-03-24 14:16] #59 closed

[2015-03-24 14:48] #53 closed

[2015-03-24 15:55] #67 closed

[2015-03-25 10:47] #66 closed

[2015-03-25 15:24] #65 closed

[2015-03-27 11:18] vvo commented on #35
Moved to algolia/algoliasearch-helper-js#24

[2015-03-27 11:18] #35 closed

[2015-03-27 11:18] #8 closed

[2015-03-27 11:20] vvo commented on #33
moved to algolia/algoliasearch-helper-js#25

[2015-03-27 11:20] #33 closed

[2015-04-01 08:25] bobylito opened #73 "In local env, the client uses file protocol"
And obviously it is not the expected behaviour, so when the lib tries to uses a protocol different from http or https, we should default to http.

[2015-04-01 22:46] lukewendling opened #76 "IE9 intermittently fails to execute ajax request"
Using js client v2 or v3, the search callback does not execute. I'm testing on IE9 via browserstack.com. Live search can be found at http://mytennislessons.com/search?q=Austin

I only have access to Firebug Lite in browserstack, but with that, I don't see any js exceptions. Any ideas?

Relevant snippet

[code]

[2015-04-02 01:49] lukewendling commented on #76
Follow up: poking around in IE9 developer tools, I inspected the network traffic and see the following:

![image](https://cloud.githubusercontent.com/assets/12628/6956220/4ba5a2e8-d8b0-11e4-86fb-f2fc695e5b56.png)

The request is aborted quite quickly. There's a lot of SO chatter about aborted ajax requests in IE9 but I can't find a solution for the Algolia js client. What am I missing?

[2015-04-02 06:52] vvo commented on #76
Thanks a lot for the detailed bug report. I will have a look today and piblish a fix accordingly. Will let you know.

[2015-04-02 14:32] yale opened #77 "Cannot resolve module 'package.version'"
Hi folks. After getting this set up in a new project, I'm seeing this error:

[code]

happening here: https://github.com/algolia/algoliasearch-client-js/blob/master/src/create-algoliasearch.js#L13

If I go in and change it to just 3, all is well.

[2015-04-02 16:13] vvo commented on #77
Hi, thanks for the report. How are you including/using the library? are you using one of the builds of jsdelivr? or are you using npm / bower?

[2015-04-02 16:16] vvo commented on #77
Also, maybe you are trying to use our js client in Node.JS?

[2015-04-02 17:23] yale commented on #77
I installed using `npm install --save`, using it on a react project based on this boilerplate: https://github.com/wbkd/react-starterkit. I'm including the plugin using `import 'algoliasearch'`

[2015-04-02 17:29] vvo commented on #77
ok Ill have a look.

I think the problem lies in the fact that package.version is a string that will be interpreted by browserify. its a browserify transform (packageify). do you think your module loader can handle browserify transforms? otherwise I will find a fix.

right now we are browserify and webpack compatible.

[2015-04-02 21:43] #73 closed

[2015-04-02 21:48] vvo commented on #76
Hi @lukewendling I found the issue and the patch is going to be released in a couple of minutes. I see you are now using /3/ on the website, does it solved the issue in IE9?

[2015-04-02 21:51] vvo commented on #76
I added the fix to both V2 and V3, you can stick to V3 and when the script udpates your website will work on IE9. Only waiting for jsdelivr to pull the patch now

[2015-04-02 22:14] lukewendling commented on #76
I saw the same behavior on v2 and v3.

Thanks for the quick fix.

[2015-04-02 22:59] vvo commented on #77
@yale So I looked at browserify and webpack. It seems that webpack is not a drop-in replacement for browserify.

Our library is currently fully browserify compatible. But webpack has to make changes like handling browserify transforms automatically etc.. They will get here I am sure.

In the meantime, an easy workaround for webpack users is to:

[code]

So you use the builded version. Let me know

[2015-04-02 23:07] vvo commented on #76
Update: jsdelivr is still not up to date, expect a live fix on your website in the next day. Thanks. Sorry for the inconvenience.

[2015-04-03 09:07] vvo commented on #76
Ok @lukewendling this is now deployed and fixed, I tested your website on IE9 and it worked.

You may need to refresh your browser cache to be able to see the difference.

Thanks a lot for your help and investigation.

Let me know if you need anything.

[2015-04-03 09:07] #76 closed

[2015-04-03 09:19] vvo commented on #76
FWIW: The bug was triggered by XDomainRequest implementation. We needed to listen for all events like onerror, onload, onprogress. Even if we do not use onprogress.

Ref: https://social.msdn.microsoft.com/Forums/ie/en-US/30ef3add-767c-4436-b8a9-f1ca19b4812e/ie9-rtm-xdomainrequest-issued-requests-may-abort-if-all-event-handlers-not-specified?forum=iewebdevelopment

[2015-04-03 14:03] vvo commented on #77
Hi @yale, I made our api client webpack compatible, you can now use:

[code]

[code]

Let me know.

[2015-04-03 14:03] #77 closed

[2015-04-03 15:03] yale commented on #77
hurrah, it works! thank you so much @vvo :)

[2015-04-03 15:09] vvo commented on #77
woohoo! Happy coding.
![lrw1](https://cloud.githubusercontent.com/assets/123822/6983964/2829a5f6-da24-11e4-9043-0144aa5d9604.gif)

[2015-04-03 18:25] lukewendling commented on #76
Thanks for the fix!

[2015-04-07 07:20] kokliKo opened #79 "Clone the cached hits?"
Hey,

When we modify the content object to display it, we sometimes have a problem when content is sent from the cache, because it has already been modified before.
Would it be possible to deepclone this cached object before sending it?

Thanks!

[2015-04-07 07:27] vvo commented on #79
YES it is.

[2015-04-14 10:09] redox commented on #46
:open_mouth: :100:

[2015-04-24 16:18] vvo commented on #26
We solved this with the release of https://github.com/algolia/algoliasearch-client-js V3

[2015-04-29 10:47] vvo commented on #56
This was solved in V3, we send a x-user-agent on the query string or headers (node)

[2015-04-29 10:48] vvo commented on #46
DONE :checkered_flag:

[2015-04-29 10:48] #46 closed

[2015-04-29 10:50] vvo commented on #79
Solution: store the JavaScript string in the cache content. do a JSON.parse each time we need to send a response to the user (cached or not).

[2015-05-04 10:32] hdeflaugergues opened #84 "ReferenceError - 'crypto' module is used but not imported"
In file *src/server/builds/node.js* the method **generateSecuredApiKey()** uses the **crypto** module without importing it.
The method throws a **ReferenceError**

Add the line:
[code]

[2015-05-04 13:56] vvo commented on #84
ah good catch, sorry abt that.

@bobylito can you do the change and release a patch version?

[2015-05-06 07:28] bobylito commented on #84
on it!

[2015-05-06 07:46] #84 closed

[2015-05-06 07:47] bobylito commented on #84
The package is pushed on NPM!

[2015-05-09 07:42] speedblue opened #85 "Parse integration broken"
The parse integration is broken because the content type is set to 'application/json' instead of 'application/json;charset=utf-8' "https://github.com/algolia/algoliasearch-client-js/blob/master/src/server/builds/parse.js#L60"

[2015-05-09 08:06] #85 closed

[2015-05-13 14:57] renancouto opened #86 "Remove console.log calls"
Hi, how can I remove all console.log calls on the browser version (I'm using v3)? I couldn't find anything about this on the docs.
Thanks!

[2015-05-13 15:10] vvo commented on #86
Hi @renancouto can you show me some of the console log calls you are seeing? Thanks

[2015-05-13 17:04] renancouto commented on #86
Hello @vvo! Yes, the logs looks like these:

On init:
[code]

On searches:
[code]

Don't get me wrong, these logs are nice, but I'd like to removed them in production. Is that possible?

[2015-05-15 19:45] odeke-em opened #89 "server/builds/node.js: malformed end response crashes app"
Thank you for this cool search service/client!

My app's integration tests have been crashing quite a bit whenever deletion of a non-existant index occured. The crash happened because src/server/builds/node.js expects data as parseable JSON
which you can see from:
[code]

but it actually received back response
[code]

[2015-05-15 19:48] odeke-em commented on #89
If you are interested in the client side fix, I have submitted a PR https://github.com/algolia/algoliasearch-client-js/pull/90 to address this.

[2015-05-18 07:53] vvo commented on #89
@odeke-em I do agree we should fail-safe bad JSON responses from our own servers and I will fix this behavior.

But I could not reproduce the 400 bad request issue, here's what I tried:

[code]

And I do not receive any 400 bad request, could you double check?

[2015-05-18 08:37] vvo opened #92 "Stop committing dist/ files"
For all our JavaScript projects, we use http://www.jsdelivr.com/ as a great way to distribute our builds to clients.

One drawback is that we have to commit dist/ files to our github repository for them to be picked up by their bot.

As committing dist/ files can be tedious and error prone, we should be able to avoid it.

It seems that by combining https://github.com/jsdelivr/libgrabber#add-update

[2015-05-18 21:25] odeke-em commented on #89
Hello @vvo, I see that can't reproduce it. Probably it is a mix of issues + maybe rate exhaustion but I certainly caught the errored response and found it was the one tripping things out.

[2015-05-19 17:13] odeke-em commented on #89
I can reproduce this using my app btw, just did right now. Sent you some screenshots via email.

[2015-05-19 18:33] vvo commented on #89
Great, as a quick fix, can you `npm install algolia/algoliasearch-client-js#98c71478f872a0088fc3b5d02c87ed2876d51d6a` and let me know what happens, you should get an error about JSON parsing.

We are on the problem, cc @Nagriar

[2015-05-19 18:43] odeke-em commented on #89
Oh yes, thanks it works great now, here is the output
[code]

[2015-05-22 00:04] OKNoah opened #97 "TypeError: string is not a function"
I have a strange problem where my node.js app doesn't return any search results and gives the error `[TypeError: string is not a function]`.

It is running on Heroku, and there are 3 environments (and 3 github branches). For some reason it all works fine on all but the master branch and live environment. I have merged a working branch with the master but still no luck. Running the master branch on

[2015-05-22 17:08] maxiloc opened #98 "Documentation mistake in batch queries"
"params:" is missing

[2015-05-22 20:11] vvo commented on #98
you mean client.batch()? I do not think there's params prop

[2015-05-22 20:13] vvo commented on #98
this: https://github.com/algolia/algoliasearch-client-js/tree/develop#batch-writes ? (develop branch)

[2015-05-22 20:22] vvo commented on #97
Hello @OKNoah, it is a simple inversion of parameters, you must call search this way:

[code]

instead of:

[code]
index.search(query, function callback() {}, params);
[code]

If you come from our previous nodejs client (algolia-search in npm) then have a look at our migration guide: https://github.com/algolia/algoliasearch-client-js/wiki/Node.js-v1.x.x-migration-guide

If you found a nodejs examp

[2015-05-22 20:31] maxiloc commented on #98
Yes sorry, did the issue a bit in a hurry,

So it is in section : Multiple queries => Line 756

[2015-05-22 20:33] vvo commented on #98
Right!

[2015-05-22 20:36] #98 closed

[2015-05-22 21:40] OKNoah commented on #97
Great,

Upgrading to version 3 did fix this problem. Still not sure why it worked on so many environment except one, maybe an old SSL bug in version 1, since we have HTTPS on our live site but not elsewhere.

Thanks a lot

[2015-05-23 07:57] vvo commented on #97
I think the one environment that failed had the V3 loaded while you were using V2 style search code.

Happy we solved this, thanks!

[2015-05-23 07:57] #97 closed

[2015-05-23 08:29] #61 closed

[2015-05-23 08:29] #79 closed

[2015-05-23 08:29] #86 closed

[2015-05-23 08:29] #89 closed

[2015-05-23 08:32] odeke-em commented on #89
Thank you @vvo for fixing this!

[2015-05-25 02:38] OKNoah commented on #97
Is that possible if I had `algolia-search` (old one) in the npm package dependencies list and _not_ `algoliasearch`?

[2015-05-25 07:17] vvo commented on #97
No if you had algolia-search as a dependency then the old .search call should have worked. Strange. BUt we solved it in the end :)

[2015-05-28 14:54] MarioPatch opened #99 "bug global.document undifined"
Hi, I have two page. One is Okay but on the second page, I have this error :
Uncaught TypeError: Cannot read property 'location' of undefined
caused by :
var protocol = global.document.location.protocol;
inside this lib :
http://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.js

"global" is not null
I don't understand why and I haven't found the solution. Only replace this line by :
var protocol =

[2015-05-28 15:28] vvo commented on #99
Hi @MarioPatch, Can you give me a url where I can see the bug? Thanks

[2015-05-29 09:54] vvo opened #101 "Implement new browse"

[2015-05-29 09:56] vvo commented on #101
- [ ] browse can be called with: .browse(query, queryParameters), .browse(queryParameters)
- [ ] browseNext takes a browse cursor and return the next results
- [ ] browseAll can be called with .browse(query, queryParameters) .browse(queryParameters)
  - [ ] returns an EventEmitter with "result" "end" "error" and has a .stop() method

[2015-05-29 10:53] vvo opened #102 "implement incremental waitTask delay"
instead of having a 100ms delay at each loop tick, implement 100 * loopTickNumber * loopTickNumber.

Cap at 5s delay

[2015-05-29 12:04] #102 closed

[2015-05-29 23:42] rhokstar opened #105 "Using Algolia with Twitter Typeahead 0.11.1"
I want to use the newest version because of the new custom events it offers. When trying to use the new version, the results no longer show. I'm still seeing queries being made however.

[2015-05-30 02:54] redox commented on #105
Indeed, it seems they changed the way their callback is working. Here is the new code of Bloodhound's `ttAdapter`: https://github.com/twitter/typeahead.js/blob/master/dist/bloodhound.js#L825-L834

We can probably handle the backward compatibility based on the 2nd parameter (now a `sync` boolean and before a `cb` function).

[2015-05-31 20:08] vvo opened #106 "Should we continue advocating the use of algolia.ttAdapter?"
We currently have a function called ttAdapter in the JavaScript client.

A recent issue (#105) about it came . To me, it brings another issue which is: should we keep [advocating](https://www.algolia.com/doc/tutorials/auto-complete#TutorialUI) the use of our ttAdapter function?

We are getting issues about typeahead in the algolia search JavaScript client source code.

Maybe we could just tell in

[2015-05-31 20:08] vvo commented on #106
thoughts @redox @bobylito @pixelastic?

[2015-05-31 21:00] kokliKo commented on #106
I think it's a good idea. A lot of customers don't understand what ttAdapter is.

On Sun, May 31, 2015 at 10:08 PM, Vincent Voyer <notifications@github.com>
wrote:

[2015-05-31 21:16] redox commented on #106
I agree; this code should not be in the JS client and was indeed an historical decision. Some documentation is probably enough for the `< 0.11` versions but it seems more complex since `0.11` -> maybe we should build a library `algoliasearch-typeahead.js` or something like that hiding the complexity.

[2015-06-01 07:15] pixelastic commented on #106
I agree, the additional step to make it work with typeahead is minimal, so this could fit in a tutorial easily. We could mark this method as deprecated for a few versions (`console.log` that it's deprecated) and then remove it completly (and bumping the semver accordingly).

Not sure of the benefits of an `algoliasearch-typehead` build, though. The difference between the two will be very small.

[2015-06-01 07:37] vvo commented on #106
@pixelastic we will try not to bump major to 4 because it would require us to do a lot of communication and then we would have to support both 2.x 3.x 4.x. So we are going to deprecate it and remove all references to ttAdapter in our docs.

[2015-06-01 07:47] vvo commented on #99
@MarioPatch I found a case where it can occurs and did a patch, this issue will be closed when we release the patch (today)

[2015-06-01 08:03] redox commented on #106
I would wait until we have a plan to move to v4 before introducing the `console.log` + deprecations, otherwise it will be super floody.

TL;DR:
 - `ttAdapter` will be removed from v4
 - we cannot break the backward compat in v3
 - we should then maybe support typeahead `0.11`, otherwise it will generate a lot of questions

@pixelastic about the `algoliasearch-typeahead`, I was not speaking about a

[2015-06-01 08:07] pixelastic commented on #106
You're right, we're already on v3, let's not bump the major so easily.

I'm for supporting typeahead `v0.11+` in our `v3`, and then move all typehead-related methods into a helper when we'll bump to v4.

@redox I thought it was a custom build, my bad. I'm ok with a simple helper file.

[2015-06-01 08:11] bobylito commented on #106
:+1: to remove it.
:+1: not in this major version.
:+1: To remove any reference to it in our docs even though we keep the code for the v3

[2015-06-01 09:40] MarioPatch commented on #99
sorry I can't give you an URL. Thank for the patch

[2015-06-01 17:24] rhokstar commented on #106
As long as there's some tutorial on how to make algolia work with typeahead and future versions, I'm all for it.

That's how I found algolia and just this last Friday, I decided to subscribe to the starter package. Tutorials are key to adoption from a marketing point of view. Your company just got $18.3 million in Series A funding. Making it easy to adopt is the best thing to do. Keep up the good

[2015-06-02 21:31] redox opened #109 "CommonJS-compliant angular build"
I want to do something like:
[code]

[2015-06-02 22:46] vvo commented on #109
I do not know how to do commonJS compatible angularjs modules. AH!

I think if it's commonJS compatible then for-sure you will not do `require('angular-algoliasearch')` but rather `var algoliasearchService = require('angular-algoliasearch')`.

Ill have a look at how they do this by looking at well known modules

[2015-06-02 22:48] vvo commented on #109
Did you try `require('algoliasearch/src/browser/builds/algoliasearch.angular')` as a first workaround?

[2015-06-02 22:48] vvo commented on #109
What you are trying to do is not commonJS, it's just loading using require, it will attach algoliasearch service to the globally available angularjs if found.

[2015-06-02 22:53] redox commented on #109
Ah interesting :) Let me try!

[2015-06-03 11:50] #99 closed

[2015-06-03 11:50] #101 closed

[2015-06-03 11:50] #105 closed

[2015-06-03 11:52] vvo commented on #56
done and released in 2.9.7

[2015-06-03 11:52] #56 closed

[2015-06-03 14:43] vvo commented on #106
So we will update our docs etc once typeahead 0.11 is fixed, right now it's considered as beta.

Especially twitter/typeahead.js#1224 is really annoying and breaks most implementations.

@rhokstar we released a new algoliasearch version (3.5.0) which fixes compatibility with typeahead 0.11 (but I would stick to 0.10)

[code]

[2015-06-03 14:43] #106 closed

[2015-06-03 15:57] rhokstar commented on #106
@vvo Ok, I will continue to use 0.10 because I need to get my experiment out to my customers and get usage data. But for future implementations I am going to use 0.11 which I'm going to be developing soon with some new features. Thanks for being responsive, this is good customer service!

[2015-06-05 13:40] #109 closed

[2015-06-07 17:08] redox commented on #24
Latest version is again sending the OPTIONS query -> looks like the content-type is not anymore set to `application/x-www-form-urlencoded` from the browser.

[2015-06-07 18:39] vvo commented on #24
Where do you see it? Cannot reproduce

[2015-06-07 18:45] #24 closed

[2015-06-07 18:45] vvo commented on #24
Ok seems to be only the angularjs build that is bugged with this, will solve tomorrow morning.

[2015-06-07 18:45] vvo opened #111 "angularjs build issues OPTIONS request"
see #24

[2015-06-08 08:41] vvo commented on #24
Solving.. Found a clear reference on simple requests: https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS#Simple_requests

[2015-06-08 14:54] bobylito commented on #92
Yep I was thinking of the same thing for the helper. :+1:

[2015-06-08 15:13] vvo commented on #92
Will test this workflow in the places client, you can test it right now if you want otherwise Ill let you know of the outcome

[2015-06-09 08:38] pixelastic commented on #92
Seems an interesting approach. So this will push the minified version to
npm, but not save them in the repo history, right ? Also, are the minified
version tested by the CI ?

On Mon, Jun 8, 2015 at 5:13 PM, Vincent Voyer <notifications@github.com>
wrote:

[2015-06-09 08:41] vvo commented on #92
Yes and jsdelivr will take the dist from npm. This has another advantage which is jsdelivr will only pull what is on npm, rather than pull as soon as it's on master (it can be on master but not yet released).

Yes the integration tests are using the build version of algoliasearch so that we test:
- the browserify standalone generated module (export in window)
- the minification does not breaks the

[2015-06-09 08:47] pixelastic commented on #92
So yeah, go for this approach and tell us how it went, this sounds good.

On Tue, Jun 9, 2015 at 10:41 AM, Vincent Voyer <notifications@github.com>
wrote:

[2015-06-12 15:51] Nagriar opened #113 "Reserved keyword used for an attribute"
When I try to minify the javascript code with Yahoo compressor, I have an exception here for example:
https://github.com/algolia/algoliasearch-client-js/blob/master/dist/algoliasearch.angular.js#L1168

The error message is: missing name after . operator

[2015-06-13 08:19] vvo commented on #113
Sounds like a problem of `ms` module and yui https://github.com/rauchg/ms.js/pull/40.

Did we have a user experiencing this?

[2015-06-15 08:34] Nagriar commented on #113
Yes, the issue was repported by a user. He had the issue after the release of the v3.

[2015-06-15 14:57] vvo commented on #113
Ok a release will be done tomorrow with the fix I have done @Nagriar, do we have to warn someone?

[2015-06-16 15:06] vvo commented on #111
was released with 3.6.0

[2015-06-16 15:06] #111 closed

[2015-06-16 15:22] #113 closed

[2015-06-22 09:34] redox opened #116 "Ability to set secured query parameters more easily"
Right now we need to do:
[code]

I would like to do:
[code]

[2015-06-22 09:38] Nagriar commented on #116
Be carefully, the order is important:
{ numericFilters: "user_id=42", hitsPerPage: 1 } can be encoded in "numericFilters=user_id%3d42&hitsPerPage=1" or "hitsPerPage=1&numericFilters=user_id%3d42" but only one of them is the valid key for the X-Algolia-QueryParameters signature.

[2015-06-22 09:39] redox commented on #116
Yes indeed, that's super complex actually :/

[2015-06-22 09:43] Nagriar commented on #116
Even if we sort the keys: { numericFilters: ["user_id=42", "user_id=43"]} can be encoded in json or string format

[2015-06-22 09:50] vvo commented on #116
Not sure this is a real world issue since we never had a client having it?

Otherwise, we first need to make sure that every API client encodes to JSON in alphabetical order when generating the api key.

Then on the backend side, at query time, reorder the provided secure keys and do the match.

I think ES6 standardized the key order.

[2015-06-22 10:12] Nagriar commented on #116
If a user set { numericFilters: "(user_id=42,user_id=43)"}, we will need to parse it and convert it that case

[2015-06-22 10:13] vvo commented on #116
We should maybe leave this edge case on the user side.

[2015-06-22 10:19] Nagriar commented on #116
What will be the order for: ["a", "b", [ "c", "d"]]:  ["a", "b", [ "c", "d"]] or  [[ "c", "d"], "a", "b"] ?

[2015-06-22 10:22] vvo commented on #116
Do not get the question.

Order within a JSON object stringified should really be the same for every engine (we could first do the testing ourselves before trying to fix it).

Order for a user string value inside an object: `{numericFilters: "(user_id=42,user_id=43)"}` is unchanged, but could be different from the moment the client generated the key. For this case I think it's an edge case.

[2015-06-22 10:29] vvo commented on #116
When using JSON.stringify (any engine), order should the same since arrays are ordered, whereas maps are not (but ordered internally, that's the possible bug)

[2015-07-22 08:22] pixelastic opened #124 "jsonp fallback triggered with Angular + Basic Auth"
It seems that when using the Angular build behind a Basic Auth website, we fallback to jsonp. This is because in order to make Angular queries correctly work behind a Basic Auth, one have to add the `withCredentials: true` to its Angular config.

And we do not turn it off when requesting our backend, which results in a failed request and the triggering of the jsonp fallback. We should force `withC

[2015-07-22 20:28] chrisyeung1121 opened #125 "How to switch between different slave indices for custom sorting?"
I am implementing 1 master and 2 slave indices to cater for custom sorting with price(asc) and price(desc), while the master index sort by desc(favourite_count).

Here's the excerpt of my slave setup

[code]

And in my JS file in the frontend.

[code]

I am wondering if it is the correct way of implementing, i don't seem to get the helper to reload the data with different index.

[2015-07-22 23:23] Jerskouille commented on #125
Actually, you should use the [setIndex](https://github.com/algolia/algoliasearch-helper-js/blob/7a30e1409e12d4916255f1157afa97da294e40f7/src/algoliasearch.helper.js#L278-L282) method of our helper.
Assuming your sort options have a data attribute with the suffix of the sort order, you could use:

[code]

[code]

[2015-07-24 12:44] vvo commented on #125
Closing this, this is a helper question and answered by @Jerskouille. Are you ok @chrisyeung1121?

You do not have to create multiple instances, use `setIndex()`.

[2015-07-24 12:44] #125 closed

[2015-07-24 12:44] vvo commented on #124
this was fixed and released

[2015-07-24 12:44] #124 closed

[2015-07-26 12:31] chrisyeung1121 commented on #125
Sure, and setIndex() works perfectly.

[2015-08-06 23:58] acorncom opened #127 "Setup a search-only "lite" version of the JS client"
I'm working on a JS single-page app where we're going to be embedding many of our vendor files.  I'd prefer to not embed the entire REST client, as we'll be using search-only keys in a read-only context.  Would there be any way we could subscribe to a JS "lite" version of the client that you guys support to keep our bundle size down?

[2015-08-07 04:49] vvo commented on #127
Hi @acorncom, that's feasible. It depends on the size reduction you are looking at.

Do you know how much size you would want to shrink?

We have ways to reduce the filesize to smg like 8kb for a search only client

[2015-08-07 05:09] acorncom commented on #127
@vvs 8kb seems quite reasonable. Just would rather not be including code to handle creating indexes when I *know* I will never use it on the client :-)

[2015-08-07 05:10] acorncom commented on #127
@vvs the reduction in size might also help with the resistance you guys seem to be getting from the Bootstrap folks ... :-)

[2015-08-07 05:24] vvo commented on #127
Yes but we are a bit relunctant to build, document and maintain an 8kb js client.

Is 12kb filesize reduction on a 1,5mb website worth it?

Will it make a difference on the page load time? On a low connection network yes, but not if your webpage weights 1.5mb because people will left the wenaite before we start downloading 8kb client.

Do you see what I mean? Can you provide us some numbers (curre

[2015-08-07 05:26] vvo commented on #127
Depending on the other libraries you are using (only algolia?) there is a good chance you have a lot of unused code in your webpage. Not just algolia.

[2015-08-07 14:51] acorncom commented on #127
Agreed.

Understood on that.  What I had envisioned when looking at your code was in essence a trimmed down "search-only" parent class with the main library inheriting from it.  But understood about the reluctance to take on the long-term maintenance :-)

For you to make something specifically for me wouldn't make sense, I'd agree (and because I'm using an Ember app, the payload does indeed get qu

[2015-08-13 03:43] dg3feiko opened #128 "Potential uncaught exception due to agentkeepalive"
we encountered crashes from algoliasearch client js

part of stack trace is here
[code]

we think that it is related to some http request socket handling.
so we found
https://github.com/node-modules/agentkeepalive/commit/24afa4a84aefb1d1639b5ea4610539d06ef396c2

it seems that our crashes were very possible related to `agentkeepalive`
please check it and verify, if the patch helps, please apply to

[2015-08-13 04:32] redox commented on #128
Hi @dg3feiko,

thank for reaching us about that. The DNS issues were related to a DNS outage we get (https://status.algolia.com/) but catching that exception is definitely something we need to work on. I'll let @vvo work on it!

[2015-08-13 13:49] Nagriar opened #129 "X-Forwarded-For issue"
When you set header X-Forwarded-For with the method setExtraHeader, the header is passed via the query string parameters. It should go directly via the headers.

[2015-08-17 17:37] argb opened #130 "when will this js lib support deboucing request?"
Every letter a request,most times i think it's too frequent .If there's a debouce strategy I can control the request rate depends on project.

[2015-08-17 17:38] argb commented on #130
maybe like a debouce: 300 param is needed.

[2015-08-17 19:18] vvo commented on #130
Hi thanks for the bug report.

We left the debounce feature on the user side on purpose.

Mostly because the goal of this api client is to do http requests and that's it. It's a raw client to our API.

The debounce search is a ux challenge and not the api client scope.

It's hard to do something that will satisfy everyone, adding a debounce feature on your side is as easy as using lodash.debounce.

[2015-08-19 09:54] Shipow opened #131 "Clients options protocol"
Shouldn't we precise both argument available 'http:' and 'https:' for the client options protocol ?

[2015-08-21 16:11] speedblue opened #132 "Browse is broken (url encoding missing on cursor)"
The browse feature is currently building the URL by doing:
     url: '/1/indexes/' + encodeURIComponent(this.indexName) + '/browse?cursor=' + cursor,

It should be:
 url: '/1/indexes/' + encodeURIComponent(this.indexName) + '/browse?cursor=' + encodeURIComponent(cursor),

This lead to an invalid cursor error

[2015-08-24 08:50] vvo commented on #130
Hi @argb, did you have some time to read my comment? Looking forward to your thoughts

[2015-08-24 08:57] vvo commented on #127
We may be able to do so yes and provide the library users a search only requireable file (and build).

This is a good idea but not top priority.

If you wanna help us: GO!
It would be great, the codebase should be straightforward.

I am available for any question regarding the code base and organisation of the future build.

[2015-08-24 09:06] #132 closed

[2015-08-24 11:53] seafoox opened #134 "Error on the deleteByQuery method when Distinct > 1"
In the case the distinct is enabled on an index (with distinct > 1), a call to the method deleteByQuery returns the following error:

[code]

We should probably override `distinct=false` at query time when the method performs the search call.

[2015-08-24 12:20] argb commented on #130
@vvo thank you,I have read most of your document,and have integrate your service to my site,but after that I have decided to give up Algolia,case the price is very very expensive,go far beyond my affordable.
still thanks for your help.

[2015-08-24 12:22] vvo commented on #130
Ok @argb, maybe see you in another project ! thanks for contributing here

[2015-08-24 12:22] #130 closed

[2015-08-24 13:14] vvo commented on #134
If there's no issue on forcing distinct in deleteByQuery then ok.

Also I cannot remember why we limit to 1000 hits? Do we have a 1000 limit when deleting?

If the 1000 limit if for the search limit then maybe we should use browse in deleteByQuery now because browse is what we are looking for here I think

[2015-08-24 14:52] acorncom commented on #127
Understood on it not being top priority.  Re: helping on it, I may have time, but don't plan on my doing it :-)

[2015-08-25 09:37] vvo commented on #128
Hi @dg3feiko,

Can you provide me some more information:
- the nodejs version you are using
- confirm the algoliasearch module version you are using
- how are you initializing the algoliasearch code? So that I can see what are the options you are using

thanks

[2015-08-26 09:48] ajarti opened #135 "Angular client headers"
Hi guys,

I use your Angular client along with Laravel and have to globally set the X-CSRF-Token for Laravel ajax for POSTs to work.  I am getting an issue with your service not liking the extra headers

I get the error:

I set the header globally in the app config as I have loads of ajax posts and it's not practical to set it manually every time:
[code]
I have tried overriding it using:
[code]

T

[2015-08-27 15:52] vvo commented on #128
Hi @dg3feiko I was not able to reproduce this problem with your provided setup:
- nodejs 0.10.38
- algoliasearch@3.7.6
- newrelic@1.18.4 // maybe not relevant, still I wanted to be in the same conditions

I am using the callback interface of algoliasearch library.

Here is a simple test file I tried:

[code]

Can you try this code in your project and see how it goes? thanks

[2015-08-27 16:01] vvo commented on #128
@dg3feiko Ok, I will update agentkeepalive and release a new version.

I think this can happen when you made successful request to Algolia and then something goes wrong with one of our server. Then agentkeepalive crashe(d)s.

Thanks for reporting, I am going to make a release today.

[2015-08-27 16:14] #128 closed

[2015-08-27 16:16] vvo commented on #128
@dg3feiko Can you please try the provided test code (report here) and then update to 3.7.7 which I just released (with updated agentkeepalive).

Thanks.

[2015-08-28 10:29] asurak commented on #135
I confirm that we do not announce X-CSRF-Token header support. Any ideas around it @vvo ?

[2015-08-28 10:48] ajarti commented on #135
Maybe flush existing header in _computeRequestHeaders: line 906 of AlgoliaSearch.js ?

[2015-08-28 14:42] vvo commented on #135
Hey to both of you. I will force or clean headers in the angular request build implementation on monday.

If you already have a solution @ajarti feel free to contribute, that's easy!

[2015-08-28 15:32] vvo commented on #129
All headers are passed via query string to avoid OPTION requests (for searches).

We could force headers passed to setExtraHeader to be passed via real headers but I wonder if this would break some of our website code @redox ? Or trigger option request on the dashboard (wich may be already the case or may be acceptable)

Or we could add an extra option to force real header but it sounds weird.

[2015-08-28 16:32] ajarti commented on #135
Hi guys,

I have experimented a bit and in Angular 1.4 you can clear common headers by setting them undefined in the $http request (see: 'Setting HTTP Headers' on https://docs.angularjs.org/api/ng/service/$http)
I wrote a little code to generate the clearing:

[code]
and then pass then to the 3rd param of the http request and this works fine in normal $http requests.

I tried to use the js client

[2015-08-28 16:37] vvo commented on #135
Yes thanks a lot for this investigation!

[2015-08-28 16:46] ajarti commented on #135
Only a pleasure @vvo :) I have a deadline for Monday that I am probably not going to make, so can't allocate any additional time this weekend unfortunately.  I am using Algolia in it so will just manually add the X-CSRF-Token and X-Requested-With to my Laravel API calls for the time being.

Thanks again for looking at this, much appreciated.

[2015-08-31 09:12] #131 closed

[2015-08-31 09:12] vvo commented on #131
Yes, thanks

[2015-08-31 09:44] #134 closed

[2015-08-31 10:26] #135 closed

[2015-08-31 10:37] vvo commented on #129
This was a Node.js requirement and in Node.js everything is passed with http headers (not query string).

Also for future references, in the browser setting this header (or any custom header) would trigger an OPTION request.

See http://www.html5rocks.com/en/tutorials/cors/#toc-types-of-cors-requests

[2015-08-31 10:37] #129 closed

[2015-09-02 10:42] smallcrew opened #136 "Facet values order not honored"
JS lib version = 3.7.5

Just to let you know that we are facing an issue with facet value ordering. JS api is changing the order coming from the server.

Response from algolia server
[code]

After JSON.parse in node.js line 166

[code]

Do you plan to return facets in an array like this :
[code]
Or use an another JSON javascript implementation that could keep values order ?

We know that we could

[2015-09-02 11:50] vvo commented on #136
Hi @smallcrew, yes unfortunately since we are using a map for `facets` from the API server, the ordering of maps is not something you can rely on.

That's a first issue and returning from the API server an array would be a good idea but it would break every website using algolia since now, cc @redox.

What I would recommend is using the https://github.com/algolia/algoliasearch-helper-js we have a

[2015-09-04 11:55] smallcrew commented on #136
@vvo Well i would prefer to not use the helper, but if there is no other choice. Thanks

[2015-09-04 11:55] #136 closed

[2015-09-05 02:19] mcassagnes opened #137 "_operation on newly created objects is not triggered"
Docs: https://www.algolia.com/doc/rest#partially-update-an-object

When partialUpdateObject creates a new object, the "_operation" is not triggered. It will however work on the second call.

Example:
[code]
Result:
[code]

Calling the same function again will yield the "expected" result:
[code]

Is this expected behaviour? Is it possible to trigger the "_operation" on newly created objects? In the

[2015-09-16 11:53] vvo commented on #137
Hi @mcassagnes This is the expected behavior from our side yes, you are not experiencing a bug even if it can make sense in some situation like you said.

Maybe you could try to first .addObject() when it does not exists. https://github.com/algolia/algoliasearch-client-js#add-a-new-object-to-the-index

[2015-09-16 11:53] #137 closed

[2015-09-28 14:22] Evne-front opened #146 "bug with Ion.RangeSlider"
When you try to change a range distance few or more times,the minimal value reset and the maximum value become NaN.
Here is my solution to resolve this problem.
[code]

[2015-09-28 14:27] redox commented on #146
Hi @Evne-front,

indeed we fixed a bug around the numeric refinements a few weeks ago and the ion.rangeslider demo wasn't reseting the numerical refinement. It seems our demo code (https://github.com/algolia/instant-search-demo/blob/master/js/app.js#L146-L153) has not been updated; I'm updating it now.

Your fix is good btw :)

[2015-09-28 14:27] #146 closed

[2015-09-28 14:39] redox commented on #146
Arg wait, the real fix is:

[code]

[2015-10-05 07:14] bobylito opened #147 "Provide a constructor for a writable stream to batch import data"
The index could have a method to create a writable stream that could be piped in order to do a batch push to Algolia. The result could be something like :

[code]

[2015-10-05 07:41] vvo commented on #147
I am sorry I am not sure I get the question from the title only. Can you precise your need (use case) and solution proposal when you have time? Thx

[2015-10-05 09:34] bobylito commented on #147
Updated the description

[2015-10-05 09:36] vvo commented on #147
`getSaveBatchStream`: we are doing addObjects so save may not be the best name here?

Maybe createWritableAddObjectsStream? (long :D)

[2015-10-05 09:39] vvo commented on #147
I know that the nodejs core API already have something like `createWriteStream` so mapping to the same name may be a good idea.

https://nodejs.org/api/fs.html#fs_fs_createwritestream_path_options

[2015-10-14 18:16] pixelastic opened #149 "Inconsistent behavior of `browse` with "empty query""
I just tried to use the `browse` method and I'm having inconsistent and unexpected behavior (and the doc is not really clear on how to use it).

[code]

What is even more weird is that if I had a second argument of `{ hitsPerPage: 10 }`, this time the call with `undefined` actually gets called, with a cursor.

So what is the correct way to do a `browse` call for an empty query (to get all the resu

[2015-10-14 19:52] vvo commented on #149
I you want to browse the whole index you can just use `browseAll` (https://github.com/algolia/algoliasearch-client-js#backup--retrieve-of-all-index-content).

Or use `browse(function() {})` and manually call `browseFrom`

I do not know why browse(undefined) would not do anything, maybe you can debug it.

[2015-10-14 20:52] pixelastic commented on #149
I don't really understand when one should use `browse` instead of `browseAll`, actually.

[2015-10-14 20:54] redox commented on #149
`browseAll` is for whole index export. `browseFrom` is to handle pagination after the 1000-nth hit.

[2015-10-14 21:25] vvo commented on #149
Isn't the readme enough on this subject? https://github.com/algolia/algoliasearch-client-js#backup--retrieve-of-all-index-content If not, we can update it.

[2015-10-15 10:35] pixelastic commented on #149
I had a customer not understanding the difference between `browse` and `browseAll`, so I wanted to update the doc to make it clearer. Turns out that I did not realy understood the documentation either.

So how should I proceed if I want to access the nth page then? Should I do a browse with a specific `page` in params, retrieve the cursor then do a `browseFrom`?

[2015-10-15 12:13] vvo commented on #149
If accessing it is not too slow you can just use browse and specify the page. The browse with a cursor is only good if accessing  page 90000 is verrrry slow. Then you can use the cursor based approach, but this one works if you have a reference to the previous cursor (thus, in a website, storing it in the url..)

[2015-10-15 12:15] vvo commented on #149
This also mean that the SEO url should contain the cursor.

[2015-10-16 15:32] Nagriar opened #150 "Implement new secured api key"
To ease the usage of the secured api key, we introduced a new format. Now the api key is a base64 of the secured api key plus the queryParameters used to generate it. You don't need anymore to set the header when you use a secured api key.

    securedKey = hmac(apiKey, urlEncodedQueryParameters)
    newSecuredKey = base64Encode(securedKey + urlEncodedQueryParameters)

It's also possible to conver

[2015-10-19 10:18] vvo commented on #150
Hi @Nagriar, I fail to easily see what we need to change. Can you point to the methods we need to update?

[2015-10-19 10:29] vvo commented on #150
Not sure I need to implement this in JS? What's the usecase?

[2015-10-19 10:38] Nagriar commented on #150
For this method, https://github.com/algolia/algoliasearch-client-js/blob/75c3ad4a34933edfd187542c58bff7810db2cd97/src/server/builds/node.js#L254-L272
The generated api key is now a base64 string of the secured api key and the query parameters.

We need to update the old way to generate a secured api key with the tagFilters to convert it to a secured api key generated with a query parameters to be

[2015-10-19 12:12] vvo commented on #150
Thanks will implement this soon!

[2015-10-21 18:54] the1mills opened #151 "misleading docs"
The docs are a little misleading - the first half make it seem like this lib only allows you to search Algoila indices, but in fact I believe this lib allows you to push data to Algolia as well.

Can you make it a little more clear up front what this library is for or what the limitations are of the lib?

thanks

[2015-10-21 20:31] vvo commented on #151
Hi, thanks for opening this issue.

Do you have any insight on how we could make it clearer? That would help. Thanks

[2015-10-21 22:00] the1mills commented on #151
I think changing this:

[code]

into this

[code]

something like that, because with "Algolia Search" in the name instead of just Algolia, it makes it seem that this module is a read-only client.

[2015-10-22 14:21] vvo commented on #151
So I propose:

Is that ok?

[2015-10-22 15:31] vvo commented on #149
Can we close this @pixelastic?

[2015-10-22 15:32] vvo commented on #147
@bobylito Will you submit a PR for this or should it be a module?

[2015-10-22 15:34] vvo commented on #127
As we are using lodash and sharing it amongst our projects I must say that we will maybe never do this unless we drop lodash at some point.

You could always shim the necessary lodash requires with your own utilities, that would work if you really need light size

[2015-10-22 15:34] #127 closed

[2015-10-22 15:34] vvo commented on #116
This seems outdated with the new secured api key we are introducing

[2015-10-22 15:34] #116 closed

[2015-10-22 15:43] acorncom commented on #116
@vvo Any link to the new secured api key docs?

[2015-10-22 15:46] vvo commented on #116
@acorncom I am currently implementing it, then we will document its usage, I will update this issue accordingly.

[2015-10-23 21:17] #150 closed

[2015-10-23 21:17] vvo commented on #151
Was fixed

[2015-10-23 21:17] #151 closed

[2015-10-23 21:29] ORESoftware opened #154 "silent fail bug"
hey there, small bug :) when calling this, your lib fails silently:

[code]

as you can see we pass an object instead of an array

this lib fails silently, so I didn't know what the problem was. you can check for an array by using "obj instanceof Array"

but it shouldn't fail silently right? I fixed it by doing this, of course:

[code]

but anyway you should pass back an error in the callback if t

[2015-10-23 21:35] vvo commented on #154
Hi, indeed we too often silently fail, I think I will do a pass soon on some obvious mistakes we should report first.

Thanks for reporting! If you have any other silent fail findings, report them again it's good.

[2015-10-24 01:34] ORESoftware commented on #154
for sure np

[2015-10-24 04:08] ORESoftware opened #155 "support - ordering results or index itself by fewer terms"
if we had objects like so in an Algolia index:

[code]

how can we prioritize short results instead of longer results? This is with the assumption that "higher level concepts" usually are shorter - one or two words. Put another way, we want 'lazy fox' to be at the top of the results and 'lazy fox jumps over' to be at the bottom, because it has more words.

is this possible with Algolia?

[2015-10-26 10:13] pixelastic commented on #155
Hello,

What I would do is add a new attribute to your records (`word_count`), that you will populate with the number of words in the `namer, and then do your custom ranking based on this value.

## Dashboard config example
![image](https://cloud.githubusercontent.com/assets/283419/10726327/452ef778-7bd2-11e5-8856-05aa4750c184.png)

## Results example
![image](https://cloud.githubusercontent.com/a

[2015-10-26 10:20] pixelastic commented on #149
Not yet, I haven't had time to fix the issue with `undefined`, and I'm in the process of updating the documentation

[2015-10-26 22:02] the1mills commented on #151
thx

[2015-10-27 03:35] ORESoftware commented on #155
sure, that might work, if there is a better/easier way, please let us know, thanks!

[2015-10-27 08:00] #155 closed

[2015-10-27 08:20] vvo commented on #155
Currently there is not, basically if you want to modify the ranking order based on your dataset, the simplest way is always to precompute the relevant data (here being number of words in an attribute) and then add the attribute to custom ranking.

Thanks!

[2015-10-29 15:55] chrisivens opened #159 "Compatibility with typeahead 0.11.x"
Looks like the function signature for a dataset source has changed in typeahead.

old: ` (query, cb)`
new: `(query, syncResults, asyncResults)`

Perhaps it's an ideal time to return cached results during the syncResults call if available and then the usual remote call in the async one.

[2015-10-30 14:09] redox commented on #159
Hi @chrisivens,

yes the new typeahead release includes a lot of changes, and there are actually some bugs with remote sources... So we decided to fork it and build our own autocomplete.js library: we'll update our website to promote it in the very next days.

You shouldn't have any issue using it instead of Typeahead.js, very similar: https://github.com/algolia/autocomplete.js

Let me know if tha

[2015-10-30 14:09] #159 closed

[2015-11-02 15:26] vvo commented on #154
Will release this today

[2015-11-02 16:25] #154 closed

[2015-11-02 16:26] vvo commented on #154
Was released as 3.9.1 thanks for the idea

[2015-11-03 11:39] romaincointepas opened #161 "Is there a way to abort a search request?"
Useful when connectivity is bad and search results don't come back nearly instantly.

User search for something, we call index.search(), then the user do something that would make the search results obsolete (navigates away?). In this case it would be good to have a way to abort the current request (and index.search callback would either never be called or be called with an error).

[2015-11-03 11:44] vvo commented on #161
What we could provide is a client.abortPendingRequests(). So that you could call this in the situations you are facing.

If this is a real use case I would be happy to provide it to you.

This would only solve the "I want to abort all pending requests because I do not care anymore about the results" issue.

[2015-11-03 11:54] romaincointepas commented on #161
That would be awesome, as I think it is cleaner than letting the request runs and ignoring the results when they come back.

Also I am wondering, let's say I call index.search twice, what happens to the first request if it didn't return when I call index.search the second time? Is it cancelled? (that would happens a lot with a search showing instant results).

[2015-11-03 12:14] vvo commented on #161
Yes

So no it's not because from the POV of an API client we try to be close to a simple request/response library.

Handling outdated answers is the goal of our https://github.com/algolia/algoliasearch-helper-js that you should use if you are building an instant search result page.

But even that, right now the helper is not actively cancelling the requests. Maybe we could, I am not sure.

@bobyli

[2015-11-03 21:25] votive opened #162 "Using algoliasearch in React Native"
I've added the algoliasearch npm package in my React Native project and initialise it correctly but at runtime the application errors with this message: Requiring unknown module "crypto". This is presumably because crypto is not available in the context of a React Native application. How should I call the Algolia API in a React Native application?

[2015-11-03 21:37] redox commented on #162
@bobylito started to work on that in https://github.com/algolia/algoliasearch-client-js/tree/feature/reactnativebuild -> any update on this?

[2015-11-03 21:57] bobylito commented on #162
I guess it's time to merge that new build :) Next release will have that :)

[2015-11-03 22:08] redox commented on #162
And you didn't have any issue with the `crypto` module, right?

[2015-11-04 00:23] bobylito commented on #162
Yes I did, that's one of the purpose of this specific build :)

[2015-11-04 01:13] bobylito commented on #162
PR is in progress :) #163

[2015-11-05 13:32] vvo commented on #162
Was released as 3.9.2, can you try @votive?

[2015-11-05 13:32] #162 closed

[2015-11-05 15:18] votive commented on #162
@vvo if I include the library like this:

    let algoliaSearch = require('algoliasearch');

I get the same crypto error. If I include this file:

    let algoliaSearch = require('algoliasearch/src/reactnative/builds/algoliasearch.reactnative');

then it works fine :) Is that the correct include?

[2015-11-05 16:50] vvo commented on #162
You should be able to do algolia/reactnative

[2015-11-05 16:53] votive commented on #162
Thanks that's working perfectly!

[2015-11-09 21:44] vvo opened #164 "Check the library can be used inside service workers"
And fix it otherwise

[2015-11-10 11:15] Nagriar opened #165 "Check wrong parameter order"
it could be cool to check if the size of the API key is greater than the size of the APPID in the constructor to be avoid issue.

[2015-11-10 11:23] vvo commented on #165
Yes for this, is it completely safe and future prood? At least for now I guess :)

[2015-11-10 11:25] Nagriar commented on #165
Yes it's future proof, the APIKEY will be always greater than the APPID

[2015-11-19 09:38] vvo opened #166 "Automatically handle more than 1000 objects saves/update"
Every indexing method taking multiple objects should deal with more than 1000 objects automatically by splitting them in batches of 1000 for the user.

This would save us some good support time/tutorial writing/documentation like http://stackoverflow.com/questions/33660918/import-parse-class-to-algolia

[2015-11-19 10:02] vvo commented on #166
my bad this is not relevant for indexing there's no really limit

[2015-11-19 10:02] #166 closed

[2015-11-24 05:49] deanmcpherson opened #167 "querystring dependency not included for react-native"
Hey there,

Installed this client for react-native and got a module not found error that querystring couldn't be found. I npm installed it and all worked as expected, you might need to add querystring as a dependency in your package.json.

[2015-11-24 08:50] aslam opened #168 "Using Algoliasearch Client JS Angular Module with RequireJS in a Rails Application"
Hello,

Even though the [Wiki](https://github.com/algolia/algoliasearch-client-js/wiki/Migration-guide-from-2.x.x-to-3.x.x#umd-compatibility) says it supports all major module loaders, I am unable to figure this one out. Googling is not yielding any helpful results.
I am trying to use this client (Angular build) in our existing Rails application where in we use RequireJS for AMD support with pre-c

[2015-11-24 08:55] vvo commented on #168
Hi @aslam do you think you could give us a simple repository where we could experiment based on the same setup you have?

So that we could help you further solve this issue.

Basically a simple setup reproducing your issue (with maybe less dependencies).

Let me know

[2015-11-24 09:02] aslam commented on #168
@vvo thanks for the response. This would be a difficult because the issue happens only on pre-compilation. But, let me give this a shot in a new project and try and re-produce the issue. Thanks.

[2015-11-24 11:18] aslam commented on #168
@vvo came up with a sample application whose setup is similar to like of the original application: https://github.com/aslam/test_algolia_angular_require. Hope this helps.

[2015-11-24 12:31] vvo commented on #168
Thanks I am going to test this now

[2015-11-24 12:59] vvo commented on #168
@aslam You are using algoliasearc 2.5.1 it seems, can you try this file instead: https://cdn.jsdelivr.net/algoliasearch/3.9.2/algoliasearch.angular.js

[2015-11-24 13:26] aslam commented on #168
@vvo I am using the latest version itself: https://github.com/aslam/test_algolia_angular_require/blob/master/vendor/assets/javascripts/v3/angular/modules/angular-algoliasearch.js. Not sure where did you determine that I am using v2.5.1?

[2015-11-24 13:40] vvo commented on #168
Ah yes sorry, foud it here: https://github.com/aslam/test_algolia_angular_require/blob/master/vendor/assets/javascripts/algoliasearch.js

[2015-11-24 13:44] bobylito commented on #167
Thanks @deanmcpherson. It seems that we actually need to include `events` as well. :) Fixing that right now :)

[2015-11-24 16:06] vvo commented on #168
So the issue is that you are trying to load "angular-algoliaSearch.js" whereas the filename is "angular-algoliasearch.js".

Also I was not able to run your provided project, what command do I need to do so that I can reproduce the 404 request you had?

[2015-11-24 21:23] redox commented on #168
Oh :) I guess you're on a Mac (case insensitive) while developing locally and on linux (case sensitive) while precompiling the assets :) ?

[2015-11-25 06:58] aslam commented on #168
@vvo I don't think this is an issue. Please see: https://github.com/aslam/test_algolia_angular_require/blob/master/config/requirejs.yml#L106. As mentioned, I am using requirejs-rails gem and maintaining requirejs.yml file to map paths with the modules I am using. So, the path ```"v3/angular/modules/angular-algoliasearch"``` is mapped to ```angular.algoliaSearch``` which I am trying to use.

[2015-11-25 08:47] vvo commented on #168
@aslam The error you are getting in the console, this:

![image](https://cloud.githubusercontent.com/assets/123822/11392336/5671fca8-9359-11e5-8a77-7a5c4e2acfe3.png)

is saying that you are trying to load algoliaSearch.js while it does not exists in your environment.

Can you try change all places where you are using "algoliaSearch" to "algoliasearch"? The angular module name export is "algoliasea

[2015-11-27 17:02] joshuapinter opened #171 "Autocomplete Tutorial uses Pre 0.11 TypeAhead.js"
https://www.algolia.com/doc/tutorials/multi-auto-complete

This tutorial still uses the pre-0.11 TypeAhead.js and makes use of the `ttAdapter()`, which has been removed from the latest version of TypeAhead.js.

I'm trying to update our `typeahead.js` and our `alogliasearch-client.js` but finding it difficult to see what needs to be changed.

Thanks!

Josh

[2015-11-27 18:44] redox commented on #171
Oh yeah, good catch; we actually need to use [autocomplete.js](https://github.com/algolia/autocomplete.js) now :)

[2015-11-27 19:09] joshuapinter commented on #171
Even better. Didn't even know about that.

So that removes the need for TypeAhead.js?

[2015-11-27 21:07] redox commented on #171
Yes :) Actually autocomplete.js is originally a fork of typeahead.js on which we fixed all the bugs on remote sources \o/

[2015-11-27 22:08] joshuapinter commented on #171
Ha. Thank god. Bring it on. :)

[2015-12-01 09:54] #167 closed

[2015-12-01 09:59] vvo commented on #167
Was released as 3.9.3 @deanmcpherson

[2015-12-01 10:04] vvo commented on #171
I am looking into this and fixing our github example to use autocomplete.js

[2015-12-01 12:42] vvo commented on #171
Fixed! The example in github is now using autocomplete.js, thanks

[2015-12-01 14:20] joshuapinter commented on #171
Great! Thanks!

Noticed a minor typo on one of the tutorials:

"The easiest way to render such auto-completion dropdown menu is to our" <-- missing "use".

From https://www.algolia.com/doc/tutorials/multi-auto-complete#ui under Section 4 UI.

[2015-12-01 14:22] joshuapinter commented on #171
I also noticed that the code on that tutorial has been changed to reference `autocomplete.js` but there is still use of `ttAdapter` in the code and I don't believe `autocomplete.js` uses that any longer.

Was the tutorial code updated to reflect the current version of `autocomplete.js`'s API as well?

[2015-12-01 14:35] vvo commented on #171
Just fixed the github tutorial to use the right API: https://github.com/algolia/instantsearch.js#from-a-cdn

[2015-12-01 14:36] vvo commented on #171
I am fixing the website also, thank you for all the feedback

[2015-12-01 14:37] #171 closed

[2015-12-01 14:37] vvo commented on #171
Website was already fixed, thanks!

[2015-12-01 14:39] joshuapinter commented on #171
:+1:

[2015-12-02 15:35] redox opened #173 "Seems that we're not using gzip with Node.js"
I cannot find any `content-encoding` or `gzip` or `deflate` occurence so I assume we're not receiving compressed JSON answer. Am I right?

[2015-12-02 15:53] vvo commented on #173
yes no gzip in nodejs currently, do you have an issue or a support request or just checking?

[2015-12-02 16:06] redox commented on #173
A user spotted it and it's definitely something we want to have (we ensured we had it in all other API clients).

[2015-12-02 16:07] vvo commented on #173
ok doing it now

[2015-12-03 11:15] itnick opened #174 "The process become undefined"
https://github.com/algolia/algoliasearch-client-js/blob/master/src/AlgoliaSearch.js#L5

[2015-12-03 12:48] vvo commented on #174
Hi @itnick, thanks for the issue.

Can you provide us some more context and explanations on what does not work for you, in which conditions, environments.. ?

[2015-12-04 02:45] Bossa573 commented on #174
Environment: nodejs 4.2.1, MacOS 10.9.5

`process` will become undefined after line 5, so line 8 and line 808 will never be executed
I tried adding `console.log(process)` at line 6 and it's undefined.

[2015-12-04 10:21] #174 closed

[2015-12-04 10:22] vvo commented on #174
was fixed @Bossa573 and @itnick. @Bossa573 nice profile pic :D

[2015-12-04 14:08] itnick commented on #174
Thanks a lot @vvo

[2015-12-08 10:45] #173 closed

[2015-12-08 20:26] charlyz opened #178 "Uncaught exception due to ETIMEDOUT"
Hi,

We noticed that our API would crash from time to time due to an `ETIMEDOUT` error. We nailed down the issue to `algoliasearch` which listens the `error` event only [once](https://github.com/algolia/algoliasearch-client-js/blob/master/src/server/builds/node.js#L135) although the event seems to be called more than once (not sure why).

You can reproduce the issue by making a call to the Algolia

[2015-12-09 09:37] vvo commented on #178
Hi thanks for reporting this issue, I am looking into it right now.

[2015-12-09 09:55] vvo commented on #178
@charlyz I was not able to reproduce the issue, I think I need some more details:
- what type of calls are you doing that then leads to a double error event? Search or indexing? If you have a simple test script failing then you can put it here (without any sensible data)
- what is your nodejs version?

Do you mean that you are removing/adding a timeout option by default? If so, how?

There's a def

[2015-12-09 10:09] vvo commented on #178
Ok I think I managed to make it fail, now investigating, feel free to still answer my questions, would help

[2015-12-09 13:31] pixelastic opened #179 "Modular build"
Do you think it would be possible to split the library into modules (like `lodash` does), so we could require only the methods we need. I'm thinking for example of a front-end only build that will not need all the push, delete and browse methods.

[2015-12-09 13:32] Jerskouille commented on #179
+:100:

[2015-12-09 13:32] Jerskouille commented on #179
Related : https://github.com/algolia/algoliasearch-client-js/issues/127

[2015-12-09 13:34] redox commented on #179
Not sure having a fully modular API client is required (from your Node.js backend you don't really care); but having a search-only API client would definitely be welcome to reduce the size of our frontend libraries.

[2015-12-09 13:36] vvo commented on #179
The "search only" client can be done.

But the import {search} from client is harder I think.

Lodash has no state while the JS client has (luckily) the APPID, indexName, timeouts, retries, hosts, .. so that you do not have to pass them to every method call.

What is the usecase or what would you like to solve by having this? Filesize?

[2015-12-09 13:53] vvo commented on #179
search only client: 12.6kb
default client: 17kb

The only true way to get a very small client is to remove the lodash dependency, that's feasible.

[2015-12-09 13:55] vvo commented on #178
@charlyz Can you try this:

[code]

And see if you reproduce the issue. Thanks

[2015-12-09 13:59] pixelastic commented on #179
Yes, the main use-case was to reduce the filesize of the front-end build.

[2015-12-09 14:02] vvo commented on #179
I will give a try to building a modern client supporting only the necessary browsers.

Which means no IE < 11, Microsoft is ending support for them in January. We will have to support them but we could provide a modern build on npm for people interested.

[2015-12-09 15:19] charlyz commented on #178
Hi @vvo , thanks for the quick response!

I tried with `algoliasearch@beta` and I still have the same issue. Here are the [debug logs](https://gist.github.com/charlyz/390b3c3e9f523dc98ca1). If it can help, I don't have the issue by changing [this line](https://github.com/algolia/algoliasearch-client-js/blob/master/src/server/builds/node.js#L135) by `on('error', fn)`.  I then see the following mult

[2015-12-09 15:32] vvo commented on #178
Ok thanks for the details and debugging, indeed I will switch to .on() and move on. I did not want to do it to avoid memory leaks but since we are destroying the socket and request we should be good.

What about I update the beta version, you try again, even in production and tell me if you are seeing any memory leak?

[2015-12-09 15:33] vvo commented on #178
I was still not able to reproduce the issue, I am sure it depends on another network configuration.

Socket hangup means the other side of the request canceled it, wonder why it happens in your setup

[2015-12-09 15:41] vvo commented on #178
As a last resort could you also do a DEBUG session with:

[code]

Do you think you could provide me a reduced test case?

[2015-12-09 15:48] vvo commented on #178
Ok you can try again:

[code]

[2015-12-09 16:09] charlyz commented on #178
I'll try the new beta. [Here](https://gist.github.com/charlyz/b7c34fa453198b72bcdb) are the logs with HTTP enabled. The use case is very basic, just a search with the new `iptables` rule. Are you on linux? Not sure if Mac has it. Also, could it be related to the `keepaliveagent`? As you said, you're abording the http request which destroys the socket. So it should be good.

[2015-12-09 16:15] vvo commented on #178
Yes I am on linux, thanks for the new logs.

Try the new beta and let me know, then I will release it.

[2015-12-09 16:17] vvo commented on #178
Maybe, hard to say.

Also maybe due to the fact that node 0.10.29 is old and this particular case you are facing was then fixed (I know it's hard to move sometimes).

But let's move on, we already spent good time and I think we got a good fix. Thanks!

[2015-12-09 18:00] charlyz commented on #178
It seems that you're right about the Node.js version being the culprit. This guy described the [issue](https://github.com/nodejs/node-v0.x-archive/issues/6928) that we have i.e. `ECONNRESET` is triggered followed by `EDTIMEDOUT`. It seems that in the versions `0.10.xx`, `req.abort()` doesn't propagate the information down the to socket when using `https`. By adding

[code]

before the two `req.abo

[2015-12-10 16:10] vvo commented on #178
I am not sure since we are using keepalive. I have too little knowledge in the full net code of nodejs 0.10 to guarantee this change will not introduce something bad.

I think listening to the error event more than once still makes sense since it's not stated in nodejs docs that there should be only one error event.

And then if we see something bad is hapening with this fix we can change it.

Wor

[2015-12-10 16:28] charlyz commented on #178
In my [understanding](https://nodejs.org/api/http.html#http_request_abort), `req.abort()` closes the underlying TCP socket regardless if the HTTP option `keepalive=true`. The fact that it doesn't do it with `https` is definitely a bug in `0.10`. I honestly don't think that your solution will have a negative impact in our application but explicitly closing the socket when aborting makes more sense.

[2015-12-10 16:31] vvo commented on #178
Indeed when you think about it, if that socket failed at some point then it will fail again so better close it.

I will update the code to close this socket, and will see how to do it (I can ask the 'semver' module we have already).

Do you know if this has to be done also in node 0.12 (can you do the test?)

Thanks a lot

[2015-12-10 16:34] charlyz commented on #178
Awesome thanks. Let me test `0.12` for you.

[2015-12-10 17:16] charlyz commented on #178
All good for `0.12.7`, I tested without the explicit deletion of the socket and without `on('error', fn)`. `ETIMEDOUT` was not triggered, just `ECONNRESET`.

[2015-12-10 17:18] vvo commented on #178
Ok so will release the updated client tomorrow morning CET, works for you?

[2015-12-10 17:18] charlyz commented on #178
Perfect, thanks!

[2015-12-11 16:27] #178 closed

[2015-12-11 16:27] vvo commented on #178
Was published as 3.10.1, let me know

[2015-12-11 17:38] charlyz commented on #178
Works like a charm. Thanks and Happy Friday :)

[2015-12-14 19:39] dderiso opened #182 "Bower needs to specify angular as a dependency for algoliasearch.angular.js"
Thanks for the great lib!

[code]

should be
[code]

[2015-12-15 09:47] vvo commented on #182
Thanks! I cannot find the referenced code snippets of yours. Can you point me to where you saw them?

Thanks

[2015-12-17 14:30] esquevin commented on #182
What you can do is override the configuration in your own `bower.json` file

[code]

[2015-12-18 00:43] mspivak opened #183 "Angular module instalation through bower includes the vanilla file."
I'm not sure I'm doing it wright but I installed the module like this:

    # bower install algoliasearch --save

But the file bower includded was always `algoliasearch.min.js`, instead of `algoliasearch.angular.min.js`.

I had to modify the `bower.json` for it to work. But we all know this is nasty and will fail on update. Is there a different package I should install?

Thanks in advance.

[2015-12-18 00:50] mspivak opened #184 "Angular module always returns 404"
Using the Angular module, all requests return 404:

    {"message":"Index products_local does not exist","status":404}

So I went to your awesome dashboard log and compared the angular request with the request your dashboard did, to find that the only difference was the `host`.

Your dashboard was querying: `c2-use-2.algolianet.com`.
While my Angular app was querying: `{APP_ID}-dsn.algolia.net`.

[2015-12-22 04:00] romelgomez opened #185 "Questions about the setting"
1) I have two type of user IDs,  facebook:10204911533563856,  b0d0d782-7fe2-4c55-8fcb-c73aab87538e, when start the request with the code below, i get AlgoliaSearchError {name: "AlgoliaSearchError", message: "filters: Unexpected token string expected numeric at col 8"} ,
I think it can be the (:) or (-), to workaround over this i have to create a reference user id like this:
facebook102049115335638

[2015-12-24 18:51] #185 closed

[2015-12-25 12:38] pixelastic commented on #185
@romelgomez : Did you fix your issue?

[2015-12-25 13:44] romelgomez commented on #185
Hi, @pixelastic,

Yes, I made a mistake:

This line:
            `filters: 'userUid='+$scope.account.user.uid,`

Should be:
            `filters: 'userUid:'+$scope.account.user.uid,`

I use (:) instead of (=)

****************************************************************
I'm reading the docs again to improve my current settings:

var settings = {
  attributesToIndex: ['barcode','title','unorder

[2015-12-25 14:11] pixelastic commented on #185
Good, nice to know you found the issue :)

[2015-12-31 14:45] borisschapira opened #187 "document.write ?"
First, again, thanks for your service and scripts :)

Is it possible to remove [this `document.write`](https://github.com/algolia/algoliasearch-client-js/blob/master/dist/algoliasearch.js#L123) from the script ?

Using `document.write` is considered a bad practice by many monitoring services.

[2015-12-31 17:49] vvo commented on #187
Hey hi! The document.write is only here for weird legacy usage of the script and is almost never triggered. We may remove it in 2016 if no more needed by any of our users.

Can you give more info on how its triggering smg bad for you?

[2016-01-08 10:22] vvo commented on #182
@dderiso Can you precise your issue and reopen if needed, thanks

[2016-01-08 10:22] #182 closed

[2016-01-08 10:24] vvo commented on #183
Since our module supports both angular and vanilla JavaScript, there's no clear way to do so, I think there's a provided solution in here: https://github.com/algolia/algoliasearch-client-js/issues/182#issuecomment-165465838

[2016-01-08 10:24] #183 closed

[2016-01-08 10:26] vvo commented on #184
Please see our angular examples for how to use it exactly: https://github.com/algolia/algoliasearch-client-js/blob/master/examples/angular.html

APP_ID and KEY must be replaced by your very own values.

[2016-01-08 10:26] #184 closed

[2016-01-08 10:28] vvo commented on #187
The document.write is necessary for legacy compatibility with the jsdelivr.com/latest/ usage. It was introduced when we created the v3 of the client. Our users that were using /latest/ would have received the v3 client while they are using v2.

So we put this layer and we will remove it someday. Most probably this year, by manually contacting some of the last clients using /latest/.

[2016-01-08 10:28] #187 closed

[2016-01-08 10:31] vvo commented on #149
@pixelastic Can we close this?

[2016-01-08 10:32] vvo commented on #168
@aslam reopen is you still have the issue, with more data

[2016-01-08 10:32] #168 closed

[2016-01-08 14:21] esquevin commented on #182
I encountered a similar issue. When using the angular version of algoliasearch-client-js, there is an implied dependency on angular, when trying to automatically inject your js dependencies in your project, algoliasearch-client-js is injected before angular, and it breaks the build.
I use `angularFilesort` to automatically import my dependencies in the proper order. But angular cannot be listed as

[2016-01-11 08:22] vvo commented on #182
Indeed, here's how we do it for another project: https://github.com/algolia/autocomplete.js/blob/master/src/angular/directive.js

Would it be better?

[2016-01-12 12:50] pixelastic commented on #149
Yes, we can close it.

I updated the doc in https://github.com/algolia/algoliasearch-client-readme-generator/pull/11, but I feel like it still miss some real-world browse + cursor examples. The only we have only grab the cursor, but don't do anything with it.

[2016-01-12 12:50] #149 closed

[2016-01-13 23:33] mspivak commented on #184
Of course I was replacing APP_ID and KEY with my corresponding values. I just didn't wanted to paste them on Github. It now works without the `hosts.read` setting. Looks like it was a temporary thing.

[2016-01-14 08:45] vvo commented on #184
Ok @mspivak thanks for getting back here, it may be a DNS propagation issue (temp one).

[2016-01-15 08:47] redox opened #190 "Missing retry in case of net::ERR"
It seems that the client doesn't retry in case of `net::ERR_CONNETION_TIMED_OUT` or `net::ERR_CONNECTION_REFUSED`.

You can reproduce the behavior by hacking the hosts array with something like:

[code]

UPDATE: this only happens if you set a big `setRequestTimeout`.

[2016-01-15 16:21] redox commented on #190
Also, I do a `client.setRequestTimeout(3600000);` -> maybe it explains something.

[2016-01-15 16:35] redox commented on #190
I confirm it's because of that big `setRequestTimeout` that it fails.

[2016-01-15 16:44] redox opened #191 "watchify: command not found"
[code]

[2016-01-15 17:17] redox commented on #190
Seems like the only way to catch that with a `XMLHttpRequest` would be to do something like:

[code]

[2016-01-15 22:44] vvo commented on #190
Just to be sure, the bug happens not just when you override the hosts array but only when you use setRequestTimeout right?

[2016-01-16 01:30] vvo commented on #190
Here's what happens:

1. The first host is not responding, browser timeout, we get a network error.

2. Once it timeouts, it will try JSONP because we can't really now cross browser that the XHR failed because of:
- bad network
- blocked XHRS
- host not responding

3. Once JSONP also timeouts (same browser network timeout), we get a script error.

4. Now we try the second host and it works (search

[2016-01-16 01:44] vvo commented on #191
fixed

[2016-01-16 01:44] #191 closed

[2016-01-16 08:23] redox commented on #190
Yes, correct.

[2016-01-16 08:27] redox commented on #190
And what do you think about my `onreadystatechange` patch? Not yet sure how to deal with `XDomainRequest` but maybe we don't care :)

[2016-01-16 12:08] vvo commented on #190
Yep the onreadystatechange only triggers after the broser timeout (verrry long)

[2016-01-16 12:27] redox commented on #190
For sure that would help!

[2016-01-16 12:36] vvo commented on #190
So I can introduce a non breaking change:

[code]

[2016-01-16 13:02] redox commented on #190
:+1:

[2016-01-21 16:58] vvo opened #192 "write operations should default to https, even on the frontend"
there's no way you can do indexing with http, so lets force https everywhere we do indexing

[2016-01-27 14:19] sohamchak opened #193 "How to set search parameter dynamically in instantsearch"
How to set search parameter dynamically in instantsearch.js. I am using urlSync : false but in save search result if I need to save my search result then should I turn urlSync : true ? If I turn it then how I will set search param urlSync dynamically ?

[2016-01-27 19:39] vvo commented on #193
I am sorry @sohamchak I did not fully get your issue, can you be more specific on your UX need so that we can focus on the UX and then how the implementation (code wise)?

Thanks

[2016-01-27 19:39] vvo commented on #193
Also can you move the question to https://github.com/algolia/instantsearch.js/issues, thanks

[2016-01-27 19:39] #193 closed

[2016-01-29 00:37] vvo opened #194 "mongodb _id properties not handled well in deletes (and possible other commands)"
It seems that when in a setup with mongodb + algolia, the _id are not well understood.

_id is a special mongodb property that is a big object.

It should be converted to a string most of the time but some commands do not (like delete).

See if:
- we should do an error when objectID is not a string or integer (can break some implementations that are relying on the string concatenation)
- see if .t

[2016-02-02 16:20] vvo opened #195 "V4 Roadmap"
Here are some V4 goals I would like to tackle:
- [ ] switch codebase to ES6
- [ ] allow building modular clients (search only, places). Mostly by extracting the requester into a single object
- [ ] switch to webpack
- [ ] automatic releases through npm and jsdelivr
- [ ] monorepo architecture with packages/algoliasearch-[jquery|angular..]
- [ ] publish packages/ so that they can be required easily

[2016-02-04 00:17] mspivak commented on #161
+1. Are there any news on this subject? Is there a way to do it using the helper? I couldn't found it in the docs.

My particular real use case: I've got a search box on the navbar that uses Algolia for suggestions. However, if the user hits enter before the Algolia request finishes I want to abort the Algolia request and redirect him to a results page.

[2016-02-10 18:27] VonD opened #197 "get all values of a given facet"
Hi,

Is there a way to get all values of a given facet in the search response ? I seem to get all of them if I don't specify any `facetFilters`, and a small subset of them otherwise. The documentation does mention this might be not exhaustive, but my index contains only 9 records, so I doubt that this is the reason.

Is it the way the client is supposed to work ? Or am I doing something wrong ? He

[2016-02-12 14:23] vvo commented on #197
This is expected that the API in this case will only send you back objects having the "offerCatalog.0" field containing the value "0". Is that what you get?

Can you explain to me the underlying query/filter you want to do? This one means: "offerCatalog.0 is `0` AND offerCatalog.1 is `0 > 1`"

[2016-02-16 02:41] vincentwoo opened #199 "jsdelivr links broken"
https://cdn.jsdelivr.net/algoliasearch/3.12.0/algoliasearch.min.js gives File not found

[2016-02-16 08:51] vvo commented on #199
Indeed, just wondering where did you find this link?

[2016-02-16 08:54] vincentwoo commented on #199
I read the alarming issue https://github.com/algolia/algoliasearch-client-js/issues/92, clicked on your link (jsdelivr.com), typed in algolia, and tried the first link I saw.

[2016-02-16 08:55] vvo commented on #199
Yes this is now reported at the jsdelivr level

[2016-02-16 12:38] istopopoki opened #200 "get actual API request"
Hello,
All your API calls are wrapped. When using your js library, is there a way to build the algolia search request, but instead of sending it to your server, just get access to it ?
thanks for your help.

[2016-02-16 13:46] vvo commented on #200
Do you need help in the end? Not sure to have fully understood your question

[2016-02-16 13:46] vvo commented on #200
What do you mean?

[2016-02-16 13:58] istopopoki commented on #200
I was trying to get access to the details of the request issued by your js code. In the end, some request like this :

https://c4-fr-2.algolianet.com/1/indexes/myindex?x-algolia-api-key=mykey&x-algolia-application-id=myApp&x-algolia-agent=Algolia%20for%20vanilla%20JavaScript%203.7.5&query=voiture&getRankingInfo=1&facets=*&attributesToRetrieve=*&highlightPreTag=%3Cem%3E&highlightPostTag=%3C%2Fem%3E

[2016-02-16 14:03] vvo commented on #199
now fixed, sorry for that

[2016-02-16 14:03] #199 closed

[2016-02-16 14:09] vvo commented on #200
Yes that's a very good point: being able to have more debugging details.I will look at it in the next major version.

If you are in the browser, to activate debug in a console, you can do:

[code]

If you are in node.js script, you can do:

[code]

both will activate a verbose debugging.

I will try to get an API entry to get the underlying request that would be generated maybe?

[2016-02-16 14:11] istopopoki commented on #200
sounds great !
I'll reopen my issue so I can get an update when you do it.
Thanks a lot

[2016-02-16 14:21] vvo commented on #200
I updated my comment, tell me if you are able to activate the debugging, also what's your usecase to be able to see the underlying rest call?

[2016-02-16 14:48] istopopoki commented on #200
I'll try the debugging mode.
I'm afraid the usecase was just curiosity...

[2016-02-24 11:02] DHidee66 commented on #89
@vvo Is it better if the library checks the response before parsing it and not give an error at all?

[2016-02-24 11:05] vvo commented on #89
@DHidee66 it really depends on the different cases, when the status is 500 or 404 Algolia API server is also sending us a descriptive error message in JSON.

Open a new issue with reproducible code for your react issue and we will dig into it :)

[2016-02-24 23:22] rsflow opened #203 "Empty Request Response!"
Hey @vvo ,

So here is where RN should check network connectivity.
Now in the simulator ``isConnected`` is always `true` and the call get's through even if there is no network. But this could happen on a real device too.

[code]
Is there something I can do to stop the bad response to be parsed to JSON and not get the error?

Thank You!

[2016-02-25 10:18] vvo commented on #203
@DHidee66 The request implementation for the React native build is here: https://github.com/algolia/algoliasearch-client-js/blob/master/src/reactnative/builds/algoliasearch.reactnative.js

We did a blogpost about it: https://blog.algolia.com/how-we-updated-our-js-libs-for-react-native/

What I would suggest is checking the connection state in the react native build if feasible and then send an err

[2016-03-10 12:59] vvo opened #204 "V4 API"
While doing a bit of V4 JS client (#195), reading through all the current API methods I thought of another API to: ease the use, be more consistent and plan future evolutions.

Here's the current relevant API:

[code]

For V4, I propose a new API where we introduce namespaces.

[code]

I believe this proposal should be easier to reason about (consistent) and help us in the future when we need to a

[2016-03-10 13:01] ElPicador commented on #204
I like it.

But why not do the same with `index` methods:
`client.deleteIndex()` =>  `client.index(name).delete()` ?

[2016-03-10 13:02] Jerskouille commented on #204
:+1: with both the proposal and the comment of @ElPicador .
The issue is that we try to stay consistent across all of our clients, no?

[2016-03-10 13:02] vvo commented on #204
I hesitated on this one, this is not a very common API in JS I feel. It reads weirdly compared to descriptive "deleteIndex" no?

[2016-03-10 13:03] ElPicador commented on #204
For the scala api, I did this `delete index "myIndex"`
But indeed it might be weird for JS

[2016-03-10 13:03] vvo commented on #204
Yes that's a very good point. But I thought that at some point, if we want nice things, we break and move forward! :) And iteratively it will get better.

[2016-03-10 13:06] maxiloc commented on #204
Couldn't we merge index.objects.add() and index.objects.update() ?

[2016-03-10 13:09] vvo commented on #204
I hesitated too on this. The thing is that I feel being magical can be bad for developers in the end. I prefer to state ADD is to ADD (and if you try to update with it, it will error), update is to UPDATE (and if you try to add with it, it should error).

Rather than a magical .save() that does everything. But this is open to more advices, thanks for feedback.

[2016-03-10 13:09] vvo commented on #204
It's a bit like "mkdir", it's good that it does error if the directory exists by default, so you do not make mistakes without knowing it.. ?

[2016-03-10 13:12] maxiloc commented on #204
But is it failing currently ? I am not sure. Because for me the difference between addObjects and saveObjects was just the need for an objectID in records that are being pushed, and no error coming from the api

[2016-03-10 13:12] Jerskouille commented on #204
I don't think the API is returning an error in these cases, how do you plan to check that?

[2016-03-10 13:13] proudlygeek commented on #204
It's definitely more a more REST-ish / OO API client this way, but I kinda like the simplicity of the current one: namespaces feels really weird in JS because libraries usually prefer to have a flat hierarchy of methods.

If it is for the sake of consistency then go for it :+1: , but apart from that I don't really see an improvement over the current version.

[2016-03-10 13:13] vvo commented on #204
It's not, currently both addObject and saveObject are doing the same exact thing.

[2016-03-10 13:15] maxiloc commented on #204
So I would prefer having only a save method. Because if I understand correctly you could do everything with the update method. Right ?

[2016-03-10 13:15] vvo commented on #204
If it's not feasible then I will just merge add and update into a save method. Because those are doing exactly the same indeed.

[2016-03-10 13:16] vvo commented on #204
Yes, if the API is not able to send an error when you said "ADD" then I will merge update and add in save. Good point you had the same idea because it feels simpler (cc @redox)

[2016-03-10 13:20] vvo commented on #204
Agree. It really depends on the project, you can have namespaces in JS. It's not the most common pattern but here's on example of a github api client with namespaces: https://github.com/mikedeboer/node-github.

Some of this refactoring is for consistency, we have weird things like "userKeys", which are no more user keys but just keys in Algolia.

Namespaces can useful to avoid having to duplicate

[2016-03-10 13:41] vvo commented on #204
So it seems there's no way to get an error like "This object already exists" from the API, it means we can safely merge add and save into just save. It will avoid the users having to decide which one to use. Those are the same: dont have objectID? => create, have an objectID => create or udpdate

[2016-03-10 13:48] vvo commented on #204
Basically there's no ADD in Algolia, it's always an ADD OR UPDATE that is being done. So we should reflect that in API clients.

[2016-03-10 13:54] pixelastic commented on #204
I also have a few concerns that were already raised, but here are my feedbacks on the whole list:

The `client`/`index` syntax tripped me up sometimes. I would like to be able to do `index.rename`, and `index.clear` directly from the index. I'm ok with keeping the top level `list` and the destructive `delete` on the parent `client`.

The namespace really feels weird to me. Not sure to see the valu

[2016-03-10 14:03] vvo commented on #204
Yep we could do that but if we do it we should do it for every methods. It would bring again more inconsistency to have index methods being distributed between client and index objects with no real decision but making it harder to find "deleteIndex" on purpose.

Yes good point, that's a bold choice to make because if we keep .getKeys, .addKey, .updateKey then there's no more need to namespaces at

[2016-03-10 14:06] vvo commented on #204
So I believe client.[move|delete|copy]Index are set on the client because once you use them you do not want to query the index again.

So index.move() won't work because you would have to then stop using the index object (it will fail). We could fix it, but it won't be a good idea.

[2016-03-10 20:47] vvo commented on #197
What you are looking for is the helper https://github.com/algolia/algoliasearch-helper-js

[2016-03-10 20:47] #197 closed

[2016-03-10 21:01] vvo commented on #190
Will go in V4, #195

[2016-03-10 21:01] #190 closed

[2016-03-10 21:01] vvo commented on #161
This will go in V4 #195

[2016-03-10 21:02] vvo commented on #92
This is V4 #195

[2016-03-10 21:02] #92 closed

[2016-03-10 21:02] vvo commented on #164
V4 #195

[2016-03-10 21:02] #164 closed

[2016-03-10 21:02] vvo commented on #179
This is V4 #195

[2016-03-10 21:02] #179 closed

[2016-03-10 21:02] vvo commented on #192
V4 #195

[2016-03-10 21:02] #192 closed

[2016-03-10 21:03] vvo commented on #194
see V4 #195

[2016-03-10 21:03] #194 closed

[2016-03-10 21:03] vvo commented on #194
Could not reproduce

[2016-03-10 21:04] #200 closed

[2016-03-10 21:04] vvo commented on #200
Nothing to solve here, closing

[2016-03-10 21:07] vvo commented on #165
This is already what we do in instantsearch() or docsearch()

[2016-03-12 09:04] DHidee66 opened #205 "New API Keys!"
Hi,

I changed the API keys on my react native app to a new account and the old search results keep coming up as if the new api keys has not taken effect.
This only happens with search @bobylito ... the record action works as expected.
I opened two new accounts, reinstalled the app in other devices ... still the same.
I use the Algolia Helper too so either one of the libraries may be causing this.

[2016-03-12 09:43] DHidee66 commented on #205
Like any other thing in life it works when you let it go.

[2016-03-12 09:43] #205 closed

[2016-03-12 14:30] mspivak commented on #161
Nice!

El Thursday, March 10, 2016, Vincent Voyer <notifications@github.com>
escribió:

--
Mauro

[2016-03-21 14:45] seafoox opened #208 "Add support of "strategy" for multiple indexes queries."
There is a new option called `strategy` that allows to return the right number of results when multiple queries are executed at the same time. More detail at https://www.algolia.com/doc/rest#query-multiple-indexes

[2016-03-21 14:58] vvo commented on #208
thanks, indeed we need that (urgent?)

[2016-03-22 16:53] kopertop opened #209 "Switch to "phantomjs-prebuilt""
Per: https://www.npmjs.com/package/phantomjs

"phantomjs" has been moved to "phantomjs-prebuilt".

[2016-03-23 09:40] vvo commented on #209
@kopertop Can I ask you how did you discover this? Did you stumble on a bug somehow with algoliasearch-client-js?

Thanks

[2016-03-23 12:46] kopertop commented on #209
I was tracking down a build error related to an old version of phantomjs, so I ended up searching through all of my npm dependencies to find what packages still used the old version.
This turned out to actually just be a temporary error downloading phantomjs from the server, but I thought I would still share it with you since I had discovered it. Not a high priority fix but should be simple.

On W

[2016-03-24 08:58] vvo commented on #209
Will change to phantomjs-prebuilt, thanks for this!

[2016-03-24 09:17] vvo commented on #209
It was already done in develop, will release

[2016-03-24 09:46] #209 closed

[2016-03-24 09:47] vvo commented on #209
released 3.13.1 but you should not get phantomjs installed still because of algoliasearch: it's a dev dependency

[2016-03-25 05:29] kylegibson opened #210 ""objectID" attribute included in retrieved attributes even when attributesToRetrieve does not specify it"
Version 3.12.0

I have the `attributesToRetrieve` parameter configured to only include a limited specified number of attributes. That works as expected. However, in addition to the list attributes, the `objectID` is also included. I would prefer to not include the `objectID`. How can I do this?

If it's not possible to exclude this parameter, I suggest the documentation be updated to indicate that

[2016-03-25 07:54] vvo commented on #210
I do think this attribute is always retrieved

[2016-04-04 20:13] parliament718 opened #212 "Race condition - clearCache not working"
I'm experiencing a race condition when querying my index, even if I use index.waitTask()

[code]

On the front-end, I wait for the response, and push the room into my Firebase data store.

[code]

Then somewhere else on my front-end I listen to the room being added to Firebase, and re-query the Algolia index.

[code]

However, when I requery the index, I don't get the newly indexed room back. If I

[2016-04-04 20:19] vvo commented on #212
Hi, thanks for reporting this.

Can you reduce the race condition test case to only using Algolia? It would help debug this one.

Here we have multiple parts that could produce a bad behavior:
- angular http service
- firebase api

So it would be better to be able to prove that using the raw JS api client like you do you can find a race condition, and if you cannot then move to the next stack and

[2016-04-04 21:37] parliament718 commented on #212
There is no problem with the Algolia only test case. I'm not sure exactly what it was but it seems that it had to do with front-end promise handling. I moved the call to clearIndex() right before search() and it worked.

[2016-04-04 21:38] parliament718 commented on #212
As a side note, can you please answer the question:

Is calling clearIndex() from the front end lib the same as calling clearIndex() on the backend? In other words, if I call it on the backend when the room is index, and not on the front-end, will the front-end still pull from cache?

[2016-04-04 21:46] vvo commented on #212
So the "cache" we talk about in our libraries is only JavaScript cache, it's a simple object inside the browser/nodejs server that will avoid doing searches that were already done.

This is not an "Algolia cache" per se. It's just the API client own cache.

If you search for "bananas" on the frontend or backend, then when the response has come, search again for "bananas", no request will be done B

[2016-04-07 12:12] prspace opened #213 "Aroundlatlang saying 400 bad request"
var coords = pos.coords;
            var APPLICATION_ID = algoliaCredential.appId;
            var SEARCH_ONLY_API_KEY = algoliaCredential.searcKey;
            var spacificAlgolia = algoliasearch(APPLICATION_ID, SEARCH_ONLY_API_KEY);
            var queries = [{
                indexName: 'listings',
                params: {
                    hitsPerPage: 10,
                    aroundLatLng:

[2016-04-07 12:17] redox commented on #213
Arg, you should use `aroundLatLng: coords.latitude + ',' + coords.longitude` (as a string).

Maybe we could ask our backend team to work on supporting an array here -> makes a lot of sense.

[2016-04-07 12:28] prspace commented on #213
It works! thank you. And of course array syntax's is better.

[2016-04-07 12:28] #213 closed

[2016-04-20 08:40] vincent-guesnard opened #214 "How to anticipate breaking changes ?"
Hello,

I've found an issue while deploying algoliasearch.js 3.13.1 on jquery 2.2.3.

This old code doesn't work any longer :

var client = $.algolia.Client(btw_algolia_application_id, btw_algolia_api_key);
var index = client.initIndex(btw_algolia_index1);
index.search($inputfield.val(), {hitsPerPage: 5})
                        .done(searchCallback)
                        .fail(function (content

[2016-04-20 08:44] vvo commented on #214
Thanks for reporting this.

So the only thing in your environement that changed and triggered a bug is that you upgraded algoliasearch to v3.13.1?

[2016-04-20 08:50] vvo commented on #214
I just did a test on jsfiddle with the latest jquery v2 and algoliasearch: it works. Maybe have a look and let me know: https://jsfiddle.net/9kejrgcj/

[2016-04-20 08:52] vincent-guesnard commented on #214
I've upgraded algoliasearch to 3.13.1, and JQuery, from 2.2.0 to 2.2.3

1. It throwns : Uncaught TypeError: Cannot read property 'Client' of undefined on this decleration :
var client = $.algolia.Client(btw_algolia_application_id, btw_algolia_api_key);

So i update to :

var client = algoliasearch(btw_algolia_application_id, btw_algolia_api_key);

2. it throwns : Uncaught TypeError: index.search(.

[2016-04-20 08:54] vvo commented on #214
Can you have a look at my jsfiddle? https://jsfiddle.net/9kejrgcj/ It's the same code as you and it's working so maybe there's something different in your setup?

[2016-04-20 08:55] vvo commented on #214
You need to use https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.jquery.min.js that's very important maybe you inserted https://cdn.jsdelivr.net/algoliasearch/3.13.1/algoliasearch.min.js which is not the jquery build?

[2016-04-20 08:57] vincent-guesnard commented on #214
Ok here is my mistake ! Seems that i need to sleep better next night ^^

Sorry about this wasting time.

[2016-04-20 08:57] #214 closed

[2016-04-20 08:58] vvo commented on #214
Great that we solved this quickly! happy coding :)

[2016-04-20 08:58] vvo commented on #214
And sleepling :sleeping:

[2016-04-20 08:59] vincent-guesnard commented on #214
Thank you very much, your help, as always, was flawless :)

[2016-04-21 17:11] anaibol opened #215 "Client is heavyweight"
Hi, I noticed that adding the client to my application added 70kb to the minified build. Is that normal?
Could we split the client to have only the minimal code on the client?

[2016-04-22 13:00] vvo commented on #215
Hi @anaibol this is a planed evolution of te JS client yes but requires a bit more work. The current gzipped size of the client is aroud 19kb.

This is not so much but still a bit heavy I understand.

Watch the github repository to be notified once available.

[2016-04-22 13:00] vvo commented on #215
Do you need a search-only client is that it?

[2016-04-22 13:08] anaibol commented on #215
@vvo yes! Would you recommend using directly the REST API via HTTPS calls as a lightweight solution?

[2016-04-22 14:59] vvo commented on #215
@anaibol I am currently building a lite client, thanks for opening the issue

[2016-04-22 21:40] anaibol commented on #215
Great!

[2016-04-22 21:40] #215 closed

[2016-04-22 21:52] vvo commented on #215
This will be released monday @anaibol, good?

[2016-04-22 22:01] anaibol commented on #215
Very good! Bon weekend!

[2016-04-29 08:26] anaibol commented on #215
Hi @vvo! I can't currently find algoliasearch/dist/algoliasearchLite. Is it on the current build?

[2016-04-29 08:28] vvo commented on #215
Not yet, should be done today. Had to delay it a bit

[2016-04-29 08:39] anaibol commented on #215
Ok many thanks!

[2016-05-02 09:01] #212 closed

[2016-05-02 09:02] vvo commented on #210
This is by design, we will update the documentation

[2016-05-02 09:02] #210 closed

[2016-05-02 09:33] #203 closed

[2016-05-02 09:34] vvo commented on #203
Please reopen if you have found a workaround/more issues

[2016-05-02 09:34] vvo commented on #147
Closing for now

[2016-05-02 09:34] #147 closed

[2016-05-02 10:26] vincentwoo opened #226 "index.getObjects throws error when passed empty array"
I'd expect `index.getObjects([], function(...` to simply return an empty list. Currently it gives a `400 Bad Request` because the library sends an HTTP POST with `{"requests":[]}:` to `/1/indexes/*/objects`.

[2016-05-02 10:30] vvo commented on #226
Hi @vincentwoo, indeed we error in this case so that developers using Algolia can discover bugs like calling a method with empty arguments in their own data.

Here there's no need to call getObjects if you pass an empty array.

We try not to be too magical oterwise we might hide bugs from the caller.

[2016-05-02 10:35] vincentwoo commented on #226
That's fair, but I don't really think "passing an empty list" is a "bug". I think every application that sends a dynamic number of elements has to deal with the 0 case. In this case 0 inputs = 0 outputs is more expected and not magical at all. 1 input = 1 output, 2 inputs = 2 outputs, but 0 inputs = ERROR is actually stranger to me.

[2016-05-04 08:11] #208 closed

[2016-05-04 08:44] vvo commented on #226
We try to map closely the REST API server and indeed currently it sends an error when you call it with an empty list of requests for getObjects().

We could change that at the API client level but that would introduce a different behavior between the API client and the REST API, that we do not want to have it.

Then, should the REST API return an empty array when asking for an empty list of object

[2016-05-05 06:57] Nagriar opened #232 "getLogs method doesn't support the type parameter"
In the readme, two parameters other parameters are available:
<img width="891" alt="capture d ecran 2016-05-05 a 08 55 55" src="https://cloud.githubusercontent.com/assets/2361099/15037890/2a8e9aa4-129f-11e6-94ca-4dcf1b41d95e.png">

but those two parameters are available in the prototype of getLogs method:

    AlgoliaSearch.prototype.getLogs = function(offset, length, callback)

[2016-05-09 09:47] oncletom opened #233 "Document lite client"
'cause from a browser perspective it might be the biggest use case.

And I discovered it because `CHANGELOG`.

[2016-05-09 09:52] vvo commented on #233
Indeed I added the underlying documentation but we need to update READMEs

[2016-05-09 09:52] vvo commented on #233
https://github.com/algolia/algoliasearch-client-readme-generator/pull/42

[2016-05-09 09:57] oncletom commented on #233
Perfect thanks :-)

[2016-05-09 11:39] vvo commented on #233
fixed

[2016-05-09 11:39] #233 closed

[2016-05-09 11:39] vvo commented on #233
https://github.com/algolia/algoliasearch-client-js#search-onlylite-client

[2016-05-12 10:15] DmitryFillo opened #241 "Bad exception name property after minification"
If I'll try to init algolia without ID and key, I'll recieve exception, but it's different for minified version and not.

Example for not minified version is `{name: "AlgoliaSearchError", message: "Please provide an application ID. Usage: algoliasearch(applicationID, apiKey, opts)"}`, but for minified is `{name: "o", message: "Please provide an application ID. Usage: algoliasearch(applicationID, a

[2016-05-12 10:53] vvo commented on #241
Hi Dimitry, can you provide a simple jsFiddle demonstrating the issue? That would help fix it. Thanks

[2016-05-12 11:00] DmitryFillo commented on #241
https://jsfiddle.net/hejLx964/ - minified version from CDN.
https://jsfiddle.net/m703p2xz/ - non-minified version from CDN.

[2016-05-12 12:14] vvo commented on #241
I wonder if a sourcemap would do it?

[2016-05-12 12:51] akscheglov commented on #241
Hi,
Seems Dmitry trying to handle exception by ex.name and cannot do it because it's changed during minification.

Also 'Function.name' is the ES6 feature and does not work for all IE (=
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/name

I think it's minor issue and do not waste time on this because logic on exceptions is bad practice (=

[2016-05-12 13:01] vvo commented on #241
I just forced the default error.name to be AlgoliaSearchError, this should be sufficient to see the right name in console.

[2016-05-12 20:08] #241 closed

[2016-05-12 22:08] DmitryFillo commented on #241
I think it's good enough for my case, thanks for fast reply

[2016-05-14 21:23] Shipow opened #249 "Why did we choose to go with several H1 in the readme ?"

[2016-05-14 21:29] redox commented on #249
I think it was for the algolia.com/doc/LANGUAGE pages synchronization.

[2016-05-16 12:41] redox opened #250 "JSONP fallback is too aggressive & wrong when angularJS"
In the following code, we assign the `tries` variable to `Infinity` to force the JSONP retry. But that's wrong:
 - when using the Angular build, `hasFallback` is false (because `client._useFallback` is undefined) and we're therefore not retrying
 - when there is any network error on 1 host, we need to retry on the others without going for JSONP

[code]

[2016-05-16 12:53] redox commented on #250
OK, I tried to fix the issue but I'm struggling with the tests, cannot make them pass :/

[2016-05-17 16:32] pixelastic opened #251 "DNS fallback resolution not working correctly"
Following the recent NSOne DNS attack, we had a few customers reaching to use because their search wasn't working. For most of them it was because they were using an old API client version without the DNS fallback mechanism.

But for a few of them, that were using the very latest (3.14) version, they still had issues where some requests were targetting `algolia.net` and others `algolianet.com`. On

[2016-05-17 16:47] pixelastic commented on #250
Do you think it might be linked to #251? The user I had that was having intermittent connections to `algolia.net` instead of `algolianet.com` was using the angular build.

[2016-05-17 17:13] vvo commented on #251
What changed in 3.14 was that we reintroduced hist shuffling for algolianet.com but I doubt this is the issue here.

"Linked" commits:
- https://github.com/algolia/algoliasearch-client-js/commit/4ec5e6a1f8cd92924ce025d60646b3a47b7d8dca
- https://github.com/algolia/algoliasearch-client-js/commit/78e3e4cca904929018f3a1c55875fe2a2fa95b08

First commit I tested it manually with success

[2016-05-17 17:51] vvo commented on #250
One thing I do not get is that angular build has jsonp fallback, we have a test for it and useFallback is true by default

[2016-05-17 17:56] vvo commented on #251
Was nsone refusing connections our timeouting while ddos? First case would trigger network errors, second one would trigger timeouts

[2016-05-17 18:10] vvo commented on #250
Also we try jsonp asap because blocked xhrs can be immediate or after timeout (invisible).

As soon as we are in jsonp if theres a network error we try other hosts.

[2016-05-17 18:33] vvo commented on #250
We could still try all hosts before using jsonp like you said. We have low data on the "blocked xhrs" behavior/cases. I will do this when I am back.

[2016-05-17 19:15] redox commented on #250
I didn't investigate too much, but for sure if it has the fallback it's not working :)

Yeah I think we should just iterate over all hosts every times; no need to "optimize" anything doing JSONP next.

[2016-05-18 07:24] asurak commented on #251
Not refusing, it was timeouting. I'm preparing a domain that it will be possible to test on.

[2016-05-18 08:39] asurak commented on #251
The domain `algolia.biz` is set to timeout for whatever you ask it - `latency-dsn.algolia.biz` - and simulated DNS provider under attack

[2016-05-18 11:43] vvo commented on #250
Are we using read and write timeouts with different values on the website? I remember an issue on the website where we set big timeouts and thus the dashboard would fail to load. Js client now have read and write timeouts features

[2016-05-22 09:56] bobylito opened #255 "Architecture of the retries / fallback strategies"
After working on the code for the host switching (see #251 and #254), I found that the code handling the retries and the fallback were merged together. This makes the code very hard to read and even implement correctly. The fallback and the retries should be considered as two different levels and abstracted accordingly.

I think we should have the access, retries and fallback as three different la

[2016-05-24 13:25] #251 closed

[2016-05-24 13:27] vvo commented on #249
@Shipow I have no answer to this, I believe this is not linked to the JS client, more a readme generator or website discussion.

[2016-05-24 13:27] #249 closed

[2016-05-24 13:28] vvo commented on #226
We are not gonna introduce differences between the API client and the API server behavior, we are just a raw API client.

[2016-05-24 13:28] #226 closed

[2016-05-24 14:50] vvo commented on #250
I was not able to reproduce this in 3.14.1 by changing -dsn.algolia.net to -dsn.algolia.biz and using the angular examples => it worked.

We may be missing something here.

[2016-05-24 20:06] vvo commented on #250
Issue was: https://github.com/algolia/algoliasearch-client-js/pull/262

[2016-05-25 16:03] #250 closed

[2016-05-25 17:44] vvo commented on #255
Taking PRS simplifying this code YES. We should have enough tests now to refactor this part without breaking anything and enough code review

[2016-05-28 19:28] gwendall opened #271 "index.search returning no hits (whilst nbHits is positive)"
As the title says, I am running a simple search using ```index.search``` (no particular option), which returns something like:

[code]

How can I access those hits ?

[2016-05-29 19:57] vvo commented on #271
Hi @gwendall this shoud not happen of course, can you send an email to support@algolia.com with more details? Or if everything is public, a simple jsfiddle demonstrating the issue would be awesome.

We need more details here.

[2016-06-03 14:40] wdollar opened #274 "$watch must be attribute of object"
Angular Version: 1.4.3

$watch must be an attribute of an object instead of referencing an object itself to trigger the $watch function.

Changes made for compatibility with AngularJS 1.4.3:

`$scope.algolia = {
            'query' : '',
        };`

`$scope.$watch('algolia.query', function() {
            index.search($scope.algolia.query)
                .then(function searchSuccess(content) {

[2016-06-03 19:32] vvo commented on #274
Hi @wdollar thanks for giving us feedback on this.

Could you submit maybe a PR because I have trouble understanding exactly what we need to change. I am not a heavy angularjs user.

Also, would this be backward compatible with previous Angular 1.x versions?

Thanks a lot.

[2016-06-03 21:02] wdollar commented on #274
Hi,

I'll be happy to provide a PR. The change *should* be backwards compatible as we're essentially just adding a second level to the scope reference.

I've left the office for the day but will send the PR over the weekend.

Thanks,

Wes Dollar

Sent from my iPhone. Autocorrect and Siri don't always get it right. Please excuse any errors.

[2016-06-07 09:15] vvo commented on #271
Closing, need more details

[2016-06-07 09:15] #271 closed

[2016-06-10 22:59] kylegibson opened #282 "Can "params" be disabled in the server response?"
The server response from Algolia includes a `params` attribute that contains the specific parameters that were sent to Algolia and used to generate the results. I would like to prevent this parameter from being sent back in the response from the server, for the following reasons:

1) It's not needed
2) It often represents 50% or more of the returned data
3) It could represent a security risk as si

[2016-06-15 15:02] vslio opened #283 "algoliasearch/lite and server-side rendering"
Hello!

I'm currently working on a React application which supports server-side/universal rendering. Importing the lite version of algoliasearch leads to a `ReferenceError: window is not defined` error (wrong module.exports?). However, importing the full version of algoliasearch, ie: `import search from 'algoliasearch'` works perfectly.

[2016-06-16 09:59] vvo opened #284 "Avoid uncaught exceptions on late JSONP answers"
Better do something like "received a late JSONP response, ignoring"

[2016-06-16 13:44] vvo commented on #282
Hi @kylegibson, we understand your concern about that param and we will most probably add an option to disable it in the future.

This requires some changes on the API side, we will update that issue accordingly when done.

[2016-06-16 16:12] #232 closed

[2016-06-16 16:12] #284 closed

[2016-06-16 16:15] vvo commented on #283
Fixed, released in 3.15.1

[2016-06-16 16:15] vvo commented on #284
Fixed, released in 3.15.1

[2016-06-16 16:15] vvo commented on #232
Fixed, released in 3.15.1

[2016-06-23 09:40] Grep-Juub opened #291 "Cannot find module 'crypto'"
Hi guys,
I'm using Algolia since yesterday and I've got some good results when using it with one of my project wich is in React+Meteor, but I can't give the same magic tool to an older app of mine also in Meteor.
I use the lastest versions of **meteor** (1.3.3-1) and **algoliasearch** lastest update from yesterday 3.16.1.

And when I start my app, I've got this:
` Cannot find module 'crypto' `
[Mo

[2016-06-23 12:20] vvo commented on #291
Hi, can you try:

[code]

Relevant discussion: https://github.com/algolia/instantsearch.js/issues/1024
Relevant discussion: https://github.com/meteor/meteor/issues/6890

[2016-06-23 14:41] Grep-Juub commented on #291
Ok so I've managed to make it work, the problem was with Meteor I've put the import in file wich was in `lib/` folder at the root of my project, so I made some Meteor method to use it only on the server side.

[2016-06-23 15:05] #291 closed

[2016-06-30 02:52] nerdmed opened #292 "Problems using algoliasearch via npm on the client"
Dear algolia devs ;) - I am getting the same issues that are fixed for in [this issue](https://github.com/algolia/instantsearch.js/issues/1024) for instantsearch.js on meteor when using the algolia client in a meteor enviroment.

I get the following error:
[code]

We haved transistioned all our packages to npm now without any issues. Any ideas what could cause this issue? Is this again something w

[2016-06-30 07:41] vvo commented on #292
Hi @nerdmed, I am failing at understanding exactly the issue you are having.

Do you mean everything works?

If you are using algoliasearch on the frontend with meteorjs, untill meteorjs fixes a bug in their require algorithm (https://github.com/meteor/meteor/issues/6890), you will have to:

[code]

or

[code]

[2016-06-30 13:02] nerdmed commented on #292
@vvo thanks a lot for your support! There was only a typo. The following works.

[code]

Can you tell what explicitly is not working with the require algorithm as it seems not pretty clear in meteor/meteor#6890 ? Would be great to get some progress.

[2016-06-30 13:05] #292 closed

[2016-06-30 13:33] vvo commented on #292
They need to implement the full browser spec of package.json here: https://github.com/defunctzombie/package-browser-field-spec

This is what is implemented by webpack and browserify.

It allows you to map not only the "main" field to something browser specific but multiple files to their browser builds.

[2016-07-13 03:03] ZhiXingHeYiApple opened #295 "#Fail to install algoliasearch#"
I want to use algoliasearch in my project. But when I use npm to install, there is an error!
npm ERR! **No compatible version found: debug-ms-fix-yui-compressor@2.2.2-future-reserved-word-fix-ms**
npm ERR! Valid install targets:
npm ERR! 2.2.0-future-reserved-word-fix-ms
I check the package of debug-ms-fix-ui-compressor, the latest version is @2.2.0. Why the dependency of algoliasearch is 'debug-m

[2016-07-18 07:15] vvo commented on #295
Hi @ZhiXingHeYiApple, I just did an `npm install algoliasearch` without any issue. Are you using the central npm repository or maybe a different one?

Thanks

[2016-07-19 03:08] fabiozaffani opened #301 "Too many messages being logged"
Hi,

Due to the current nature of my app (integration between firebase and algolia) i'm currently getting my console flooded with all the algoliasearch module updates (related to index)

It would be good great to have an option to disable this, otherwise the only other solution I though would be to always comment/uncomment the code that call's the algolia indexing.

Best regards

[2016-07-19 07:39] vvo commented on #301
Hi @fabiozaffani, can you provide me some examples of the logging done by Algolia module?

We only do some logging when NODE_ENV=development, yes we should make this optionnal or at least reduce the noise.

[2016-07-19 14:13] fabiozaffani commented on #301
Hi @vvo , thanks for the fast reply.

And that's exactly the issue, in the development environment. If you have many items being updated/synced with algolia the log list grows really bi. I think it would be a good option to have it come with the logs being recorded by default but with an option to disable it, like a flag in the initialization config object or something.

Bellow are some of the mes

[2016-07-21 20:16] samueldr commented on #301
A work-around, for until an option is available, can be made using the filters of the developer tools.

Using this regex:

    ^[^algoliasearch]

Explanation of the regex:
  * Anything starting with, `^`
  * something else than the string *algoliasearch*. `[^algoliasearch]`

![screenshot](https://i.imgur.com/6UOnIj6.png)

Hope this helps!

[2016-07-22 09:59] acemtp opened #308 "getObject on lightweight algolia"
Hi Vincent,

I know algolia lightweight version has to be light but it would be useful to have getObject() in it too.

Adding it will really increase the size of the lite package?

[2016-07-22 12:09] #301 closed

[2016-07-22 12:10] vvo commented on #301
released 3.18.0 with a fix, only activates debug mode when NODE_ENV is debug

[2016-07-22 12:10] vvo commented on #308
Just added it in 3.18.0, let me know

[2016-07-22 12:10] #308 closed

[2016-07-22 12:42] acemtp commented on #308
Cool. Do you know how long does it take to spread to jsdelivr? https://cdn.jsdelivr.net/algoliasearch/3/algoliasearchLite.min.js

[2016-07-22 14:23] vvo commented on #308
It's now available, refresh

[2016-07-29 19:11] mgtitimoli opened #310 "Wrong facets totals"
Hi everyone,

I'm experiencing a weird error with facets totals. I have an index which has one array field that contains objects, and I'm using the keys of those ones as facets:

**Sessions of one object present in the index**
[code]

**Index facets**
![image](https://cloud.githubusercontent.com/assets/4404683/17260411/9c263f6a-55a6-11e6-8b42-f5af680e860b.png)

I'm using `sessions.dayName`, `sessi

[2016-08-01 15:25] nitriques commented on #128
I am having this problem right now. I get

Error! getaddrinfo ENOTFOUND gbc-2.algolianet.com gbc-2.algolianet.com:443

Whenever I try to call your API. I do not have this problem with the same code on other APPS. Can you help ?

[2016-08-01 17:15] nitriques commented on #128
So the problem is that the APP id was invalid.

Maybe consider adding a check on that ?

[2016-08-01 17:17] maxiloc commented on #128
The main issue is, we don't really have a way to differentiate a network issue from an invalid app_id but indeed maybe we could add in the error message that is could be a bad APP_ID or network issue

[2016-08-01 17:20] nitriques commented on #128
Right, that's hard to test.

Could you issue a DNS request manually ? If you get a NOTEXISTENT response, that could prevent trying any HTTPS request... That's the first thing on top of my head.

Thanks!

[2016-08-22 15:29] tlvenn commented on #310
Bonjour @vvo, any idea for us of what might be happening ? Thanks !

[2016-08-24 15:57] vvo commented on #128
Hi @nitriques indeed we do not do such checks today about the validity of the APPID given the low number of times this can happen. We might add that check in the future if more people are concerned. Thanks

[2016-08-24 16:12] vvo commented on #310
Hi @mgtitimoli and @tlvenn, thanks for reporting this. This look a rather advanced example and it needs to be cleaned off a little before we can start debugging.

As this seems to not be related to the JavaScript client in particular (but more of an understanding of facets and requests) I advise you to send a message to support@algolia.com defining your problem. If you are able to reduce the index

[2016-08-24 16:12] #310 closed

[2016-08-26 18:52] pthurlow opened #319 "URI Too Large Errors"
Came across this issue when our security tags started getting large. It appears that the headers sent to algolia are being inlined as query params in the url. This can be seen on [line 74 here](https://github.com/algolia/algoliasearch-client-js/blob/73afbe3ed080d000e8dc04486d2060f0321d184c/src/browser/createAlgoliasearch.js#L74). When I removed those and put them in the request header I only recei

[2016-08-29 13:56] vvo commented on #319
Hi @pthurlow, could you maybe send here a CURL like command that results in an error when your security tags are too big? If this is not OK given the security of your application, please send this to support@algolia.com (and mention me and algolia javascript client)

You can get a CURL like command from the network tab in chrome, right clicking a failed request and "copy as CURL".

We recently upd

[2016-08-30 01:43] pthurlow commented on #319
I sent an example request header to your support.  When you say "Those keys will then be sent in POST when doing searches if the key is too big" do you just mean the request is made as a POST rather than a GET? If that is the case this problem will still persist because this is nginx or other server limits on URI request length. Ideally these keys would be inserted into the body to avoid this issu

[2016-08-30 02:15] pthurlow commented on #319
After a bit more digging I think I've found the issue. The logic which determines whether to stick the `apiKey` into the body [seen here](https://github.com/algolia/algoliasearch-client-js/blob/master/src/AlgoliaSearchCore.js#L162) assumes that the `body` object contains a `params` field. However this is not the case for non fallback requests as there is a query request array on the body with the

[2016-08-30 12:05] vvo commented on #319
It seems not to be an issue with "fallback requests" but an issue being that requests done using client.search() will not have their API keys inlined when too big.

I will fix this and release.

Yes there's no more a need to use setSecurityTags if you already generated a secured API key with all the tags. All our security features are now provided by secured API keys and can be found here: https:/

[2016-08-31 09:35] #319 closed

[2016-08-31 17:16] brianjd opened #321 "Object not updating"
I'm currently using the client to hook into my model/object lifecycle, but updates aren't working. Currently, I'm calling `saveObject` and passing it the necessary arguments (a document with the necessary objectID & callback), no error is returned, and I receive the taskID from Algolia.  But the document doesn't update.  I thought maybe I had the wrong API keys, and therefore manipulating the wron

[2016-08-31 19:18] vvo commented on #321
Hi @brianjd, we are not aware of any issue using saveObject to update objects.

If there's no error and you receive the taskID then you are all good and once the taskID is done (use waitTask for that: https://github.com/algolia/algoliasearch-client-js#wait-for-operations---waittask) then the object should be updated.

I would advise your to double check everything and if it's still not working to

[2016-09-01 01:20] henryhuang commented on #295
@ZhiXingHeYiApple , I guest you use the no-official registry, such as taobao,  you could use following command to install (which fixed my problem like you):

[code]

[2016-09-02 17:41] brianjd commented on #321
@vvo Used waitTask, still no error, still no update.  Sent email.

Thanks

[2016-09-02 22:22] #321 closed

[2016-09-10 11:13] Kikobeats opened #325 "[Question] deleteByQuery just with params?"
Can I perform a delete query just for a determinate object with specific params?

For example:

[code]

[2016-09-10 11:34] vvo commented on #325
Ultimately this should work but today it does not, you will have to:

[code]

Let me know how it goes.

[2016-09-10 11:39] Kikobeats commented on #325
oh, true. thanks. One thing, if `type` is a facet and `table`an specific value, how would the query to eliminate these entities?

[2016-09-10 11:40] vvo commented on #325
Right sorry I read too quickly, so you would have to do:

[code]

Have a look here: https://www.algolia.com/doc/rest-api/search#unified-filter-parameter-sql-like

[2016-09-10 13:35] Kikobeats commented on #325
Because the value is not numerical, That's the final query:

[code]

Thanks for all 😄

[2016-09-10 13:35] #325 closed

[2016-09-10 13:43] vvo commented on #325
Oh my, weekend support is not up to week support level :D:D

[2016-09-10 13:44] vvo commented on #325
Thanks for solving this yourself :p

[2016-09-10 13:51] Kikobeats commented on #325
no problem!! 😄

[2016-09-20 04:54] acemtp opened #330 "how to avoid umd?"
We dynamically inject the algolia script with javascript using script in our client webpage.

We then access algolia with window.algoliasearch.

It works well expect if our client uses requirejs or other system in their page. In this case, algolia see there's define or require and use it. So window.algoliasearch is not available anymore.

https://jsfiddle.net/h8dghLnv/1/

Is there a way to access

[2016-09-20 09:08] vvo commented on #330
Hi, I had a hard time having a requirejs AMD example working because I don't know much about this system of loading modules unfortunately.

Here's a live example: http://jsfiddle.net/73xVu/78/

We do not do anything exotic, we use the `--standalone algoliasearch` option of browserify which package in UMD. This is the simplest for our clients that are able to control their own environement.

If I u

[2016-09-20 12:32] acemtp commented on #330
Yes. Thanks for the feedback.

[2016-09-20 12:32] #330 closed

[2016-09-30 09:56] vvo opened #340 "Add a note about the helper project in the Readme"
We need to talk about the helper in the JavaScript client documentation, a lot of people are still missing it and are building frontends only with the client.

[2016-10-03 19:25] semeano commented on #292
I'm getting the same error with 'react-instantsearch'. I'm using Meteor+React.

[2016-10-05 08:29] ramusus commented on #283
@vvo @vslio I still have this issue during server rendering. I tried 3.15.1 and 3.18.1 lite and full versions with no any success.
I call search() method inside render():

[code]

and looking into source I get

    ReferenceError: window is not defined

What I'm doing wrong?

[2016-10-05 09:38] vvo commented on #283
Do you think you can either get a more precise stack trace or maybe a simple github project reproducing the issue so we can wokr on it?

[2016-10-25 13:20] DevSide opened #344 "Support request"
https://github.com/visionmedia/debug/pull/315

This PR will close two projects/dependencies:
https://github.com/algolia/ms.js
https://www.npmjs.com/package/debug-ms-fix-yui-compressor

[2016-10-25 14:45] vvo commented on #344
way to go if you can get it merged

[2016-11-04 10:22] vvo commented on #344
@DevSide seems to not yet be released, let me know when new version of debug is released

[2016-11-04 11:23] DevSide commented on #344
@vvo  yes, i will.

[2016-11-07 14:53] delueg opened #353 "index.getObject(myArray,... produces an Error 404"
As long my array has only 1 entry it is working as expected.

But at the moment there are 2 or more entries it comes to an 404.

i realised that the system is not able to is not able to realise

algolia.net/1/indexes/myIndex/first-objectID`%2C`second-objectID?...

`{
  "message": "ObjectID does not exist",
  "status": 404
}`

algolia.net/1/indexes/myIndex/first_objectID?....

gives me no error.

[2016-11-07 14:54] vvo commented on #353
Hi @delueg you will have to use getObjects(). We could make getObject work with arrays too in the future and basically every method working with one or more element behave the same.

Let me know how it goes.

[2016-11-07 14:55] delueg commented on #353
Oh man.. sorry :)

[2016-11-07 14:57] #353 closed

[2016-11-07 14:57] vvo commented on #353
No prob :dancer:

[2016-11-08 13:03] delueg opened #354 "Get all possible values of an attribute for faceting"
is it possible to get all possible values of an attribute for faceting?

for example:

i have an attribute for faceting "gender" with entries 'male' and 'female'

what i need is some method to get this values something like
`[
'male',
'female'
]`

[2016-11-08 15:04] delueg commented on #354
i found it. you have to add the facets:* to your params inside a search function

[code]

[2016-11-08 15:10] #354 closed

[2016-11-08 16:16] vvo commented on #354
Great!

[2016-11-10 13:42] DevSide opened #356 "travis encrypt/secure variables"
I looks like travis doesn't decode properly the secured variables.
https://github.com/algolia/algoliasearch-client-js/blob/master/.travis.yml#L25

https://travis-ci.org/algolia/algoliasearch-client-js/builds/174771236#L2364

[2016-11-10 15:50] vvo commented on #356
Hello! Travis is not decoding secured variables from outside of organizations forks: for security reasons. No big deal we will test it. There's no easy solution for that, some of our keys are really private

[2016-11-10 15:51] #344 closed

[2016-11-11 15:21] matthewjsummers opened #358 "TypeScript Typings issue (Angular 2)"
It seems that there is a mismatch between the Typings file provided by @types/algoliasearch-client-js and the algoliasearch library itself.  Is anyone aware of this? We are struggling to import the algoliasearch function from the typings file into a TypeScript component - is the module definition correct?

[2016-11-12 13:20] vvo commented on #358
cc @CBaptiste any idea? I did update the library at some point since the typings

[2016-11-12 13:22] CBaptiste commented on #358
Hello @matthewjsummers !
What mismatch are you facing ? What error do you have ?

Let me know :)

[2016-11-24 23:43] mixergtz opened #361 "ttAdapter missing param in latest version?"
Hi @vvo

I'm using algolia's `3.19.1`  along with typeahead `0.10.1`. After looking at the code I realized `ttAdapter` method is returning just:

`cb(content.hits);`

instead of:

`cb(content.hits, content.nbHits);`

Is there any reason for leaving out the `nbHits` param?

Thanks! and great job with the library :)

[2016-11-25 08:56] vvo commented on #361
Hi @mixergtz I do not remember we called `cb` with more than the hits in a previous version of this library. Can you provide me more context about "instead of: cb(content.hits, content.nbHits);"? Thanks

[2016-11-25 14:15] mixergtz commented on #361
Sure, we were using a pretty old version of the library -> `2.5.1`
This is the code for `ttAdapter` in that version:
[code]
`nbHits` provides the number of results of that query and passes it to this function in typeahead (`0.10.1`)
[code]
And then it can be used in typeahead
[code]
But if the `ttAdapter` function only returns ` cb(content.hits)`, in the typeahead code `query.nbHits` will return `

[2016-11-28 08:49] vvo commented on #361
Hi @mixergtz for now I would advise you to just code your own ttAdapter, like this for typeahead 0.10.

[code]

I would not recommend you to switch to typeahead 0.11, it's not maintained and has many issues.

We also have https://github.com/algolia/autocomplete.js for you, a "better" more Algolia typeahead.

Let me know how it goes.

[2016-12-02 15:09] hovhannesDavtyan opened #363 "2 different objects in one index"
Can i add 2 different type of objects in one index

[2016-12-02 15:25] vvo commented on #363
@hovhannesDavtyan Hi, can you precise a bit more what you want to achieve? You can definitely do something like:

[code]

[2016-12-05 08:02] hovhannesDavtyan commented on #363
Thanks a lot for quick answer , i just not expected it so easy :)

Regards,
Hovhannes

2016-12-02 19:25 GMT+04:00 Vincent Voyer <notifications@github.com>:

[2016-12-05 12:37] vvo commented on #363
Nice!

[2016-12-05 12:37] #363 closed

[2016-12-12 16:48] bobylito commented on #340
Love that! :)

[2016-12-14 15:53] vvo commented on #340
This should be done in the doc project of Algolia

[2016-12-18 06:02] jsanchezgarcia opened #379 "Unable to find algoliasearch typings"
When trying to install the typings according to the docs, they're not in the expected route. See error below
[code]

[2016-12-19 17:51] templth opened #391 "Error when executing a simple request with Algolia 3.20.2"
**Do you want to request a *feature* or report a *bug*?**

I think that it's a bug...

I try to use Algolia JS client 3.20.2 with Angular2 Universal (server rendering) and Express 4.14.0.

The versions of tools I use:

[code]

**What is the current behavior?**

When trying to execute the following code:

[code]

I have the following error:

[code]

**If the current behavior is a bug, please provid

[2016-12-20 12:26] vvo commented on #391
@templth I am unable to reproduce this and our integration testing passed for Node 6 (like Node 0.10 and 0.12 4 5 6 7): https://travis-ci.org/algolia/algoliasearch-client-javascript/builds/185027919#L366-L375

Could you dig this further and maybe provide a simple reproducible repository for me to test? Thanks

[2016-12-20 12:27] vvo commented on #379
@CBaptiste Can you help on the typescript typings? Thanks

[2016-12-20 13:36] templth commented on #391
@vvo thanks very much for your answer! I made some tests. It also works for me with Node only. In fact, I use Angular2 Universal and I think that the problem is linked to Zone that instruments code.

I have a look at the source code and changing the following code in the file `src/server/builds/node.js`:

[code]

to

[code]

makes things work!

[2016-12-20 13:52] vvo commented on #391
Ok then this is a "Zone" bug as I feared when I read your first stacktrace. Do you think you can forward/create this bug in the correct repo and link it here?

[2016-12-20 13:53] vvo commented on #391
zone.js has many issues right now it seems: https://github.com/angular/zone.js (only fact, no judgement)

[2016-12-20 14:16] templth commented on #391
I downgraded to version 0.6.21 of zone.js in my application and this fixed the problem ;-)

See this discussion as a reference: https://github.com/angular/universal-starter/issues/172#issuecomment-248515265. FYI version 0.6.26 doesn't fix the problem...

Thanks very much for your help!

[2016-12-20 14:17] templth commented on #391
Closing my issue since it's not related to the Algolia client itself...

[2016-12-20 14:17] #391 closed

[2016-12-20 15:01] vvo commented on #391
Nice!

[2016-12-21 12:27] pixelastic opened #394 "docs(places): Missing documentation for `initPlaces`"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
The documentation does not mention how to use Algolia Places with the JS Client.

**What is the expected behavior?**
There should be some documentation about the `initPlaces` method. Algolia Places needs special treatment as the API can be accessed without apiKey nor indexName.

Here is a sample co

[2016-12-21 13:30] pixelastic opened #395 "forwardToReplicas should be used instead of forwardToSlaves"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
The current API of `saveSynonym` expect a `forwardToSlaves` parameters. In regards to our internal renaming, it should now be reflected as `forwardToReplicas`. The change is already available on the REST API.

**What is the expected behavior?**
`forwardToSlaves` should be renamed to `forwardToReplicas`

[2016-12-21 15:50] vvo commented on #394
@maxiloc How could I add a specific section in Advanced of the JS client about Algolia Places usage?

[2016-12-21 15:58] vvo commented on #395
done

[2016-12-21 16:57] snstarosciak commented on #379
I'm also having this issue. Any thoughts?

[2016-12-21 17:08] jsanchezgarcia commented on #379
I was able to install using ``` typings install dt~algoliasearch --save ```. Although now I'm having problems using it in my Ionic 2 project

[2016-12-21 18:31] snstarosciak commented on #379
Heh, I'm using this in my Ionic 2 project as well. Would you be able to show me how you're importing algolia into your project? Do you have it imported as a module in `app.module.ts`?

[2016-12-21 18:40] CBaptiste commented on #379
Hey thx for reporting the issue, I ll update it hopefully by tomorow !

Baptiste

[2016-12-21 18:57] CBaptiste commented on #379
Ok, apparently, a batch was run on several definition folders in the DT repo : https://github.com/DefinitelyTyped/DefinitelyTyped/pull/12892

I ll investigate why tomorow but you should typings install `dt~algoliasearch --save`from now on @jsanchezgarcia @snstarosciak

For the Ionic issue, what do you mean by "you are having problems" @jsanchezgarcia  ?

Let me know and I ll help :)

Baptiste

[2016-12-21 19:21] snstarosciak commented on #379
@CBaptiste I appreciate the quick responses. I'm actually a bit of an impasse as I'm not sure how I should be integrating this npm module into my Ionic 2 application.

To try to get this to work, here's what I've done:

1. `npm install algoliasearch --save`
2. `typings install dt~algoliasearch --save`
3. I'm using Ionic 2, which utilizes webpack, so in my app.module file, I have tried to import th

[2016-12-21 19:23] CBaptiste commented on #379
ok, that s weird, something must have broken somewhere after this PR.
I will reinspect/test the integration tomorow and I ll let you know !

[2016-12-21 19:24] snstarosciak commented on #379
Awesome, thankyou so much :) But does it look like what I'm doing is correct, otherwise?

[2016-12-21 19:25] CBaptiste commented on #379
yes you should only need to import it ! it is supposed to be a globals def

[2016-12-21 19:39] snstarosciak commented on #379
Interesting. Well what's weird is that `node_modules/algolia-search/AlgoliaSearch.js` does export AlgoliaSearch, so I'm not sure why my import statement would say it's not an exported member. Could that be an issue related to typescript and the ts definitions for algoliasearch?

[2016-12-21 20:16] snstarosciak commented on #379
@jsanchezgarcia Heh, I'm glad we're in this together :) It looks like we're running into issues very similar, at the very least. Are you including algolia in your project the way I am, as well?

[2016-12-21 20:28] jsanchezgarcia commented on #379
yes, doing the same as you

[2016-12-22 01:42] jsanchezgarcia commented on #379
Interesting. Just to make sure my error wasn't caused by something else in my ionic2 project, I just started a blank angular2 project from the cli, installed algoliasearch and its typings (as explained above), and when I try to ```import { AlgoliaSearch } from 'algoliasearch';``` I get a different error:
```[ts] Cannot find module 'algoliasearch'. ```

[2016-12-22 03:55] jsanchezgarcia commented on #379
A bit more info about this. I'm able to do something like import { AlgoliaClient } from algoliasearch. I'm not familiar at all with typing files (yet), but it seems like we're importing the namespace algoliasearch with all the interfaces (AlgoliaClient, AlgoliaIndex, etc) but not the algoliasearch function

[2016-12-22 13:23] CBaptiste commented on #379
Ok so, I haven't looked into Ionic yet but just for a general import
1. `typings install dt~algoliasearch --save`
2. `import algoliasearch = require('algoliasearch')`
I just quickly tested and it works fine

I am going to look specifically for Ionic now

[2016-12-22 14:03] CBaptiste commented on #379
Ok indeed there is an issue with Ionic, I am on it

[2016-12-22 14:38] CBaptiste commented on #379
Ok I got to import everything in a Ionic project.
1. instead of the typings command, just `npm install --save @types/algoliasearch` and that s it.
2. `import * as algoliasearch from 'algoliasearch'`

and then it compiles.

I am going to update the README right now, thx for reporting this guys

[2016-12-22 15:13] snstarosciak commented on #379
Hey there @CBaptiste, thanks for looking into this. I've reproduced the steps that you outlined and now when I try to integrate the following code into my component, I get an error in my Ionic console:

`[10:10:20]  bundle failed: Cannot call a namespace ('algoliasearch')`

In my component, I have the following the code:

`import * as algoliasearch from 'algoliasearch'`

[code]

I've also removed

[2016-12-22 15:15] CBaptiste commented on #379
Looking into it :)

[2016-12-22 15:29] CBaptiste commented on #379
So yes, I can query.
For info, I used https://github.com/marcoturi/ionic2-boilerplate.

You said you were using webpack right ? what is your config ?

[2016-12-22 15:35] CBaptiste commented on #379
ok so apparently it is a bundling process rollup issue when using the wildcard '*', it will make algoliasearch the module itself.
Try without it : `import algoliasearch from 'algoliasearch';`

Let me know !

[2016-12-22 15:45] jsanchezgarcia commented on #379
I just tried @CBaptiste method  (with and without wildcard *) in a blank ionic project build with their cli, and even though I don't get compilation errors I get: ``` Runtime Error
Cannot read property 'prototype' of undefined ``` when trying to call algoliasearch as following ```let client = algoliasearch('SYO3YSE2C0', '6771017566787240e34ac840b6af9e3f');```

[2016-12-22 15:46] snstarosciak commented on #379
Hm, when I try that, I'm getting this error now:

[code]

When I refresh, I get a slightly different error:

[code]

Ya know, one thing I may need to do is update my Ionic project. I actually based my project off of this one from a month and a half ago: https://github.com/driftyco/ionic-conference-app

Perhaps I need to start over with the ionic2-boilerplate project and then go from there? I'd say

[2016-12-22 16:03] CBaptiste commented on #379
first @snstarosciak, I checked out the repo, and did what I did  before (`npm install --save @types/algoliasearch` and `import algoliasearch from 'algoliasearch';` in app.component.ts) and I was able to call algolia's service. I think it is linked to your dev environment ? What did you change, architecture wise between this repo and teh current state of your repo ?

[2016-12-22 16:05] CBaptiste commented on #379
@jsanchezgarcia It looks like the file are not bundled/concatenated in the right order ? Would it be possible ?

[2016-12-22 16:13] snstarosciak commented on #379
@CBaptiste hah no kidding, I did the same with that project and it works fine. In terms of architecture change, what do you mean exactly? It most likely is linked to my dev environment, though I'm not quite sure where to start nailing down the major differences.

The major stuff I did was change some commonjs stuff in the rollup.config.js file, as well as pretty much gut the entirety of the app fo

[2016-12-22 16:54] jsanchezgarcia commented on #379
Well, I was able to import and create the client using ionic2-boilerplate. I'll have to review what's different between that and my project.

How are you guys making queries? When I try to
[code]

[2016-12-22 18:14] vvo commented on #379
@jsanchezgarcia Can you open a different issue than this one? It's harder to follow discussion when we are mixing issues. As for a quick response, you need to provide an array of queries: [{}] and not {}.

Read more in the docs: https://github.com/algolia/algoliasearch-client-javascript#search-in-an-index---search

[2016-12-22 18:15] vvo commented on #379
@snstarosciak Can you open a different issue maybe on the ionic or rollup repo? Maybe you'll get more help here. Right now this module works well but if you find a critical bug in using algoliasearch with a module bundler then dig it a bit and let us know what's wrong. Thanks!

[2016-12-22 18:15] #379 closed

[2016-12-22 18:18] snstarosciak commented on #379
Hey guys, I ended up taking the ionic-conference-app repo and merging my current project into that one. With it, I'm able to successfully query against Algolia. I'm not sure what was wrong with my current build, but I was looking to upgrade my project to the latest Ionic 2 version, so we know that works, at least :)

[2016-12-22 18:20] jsanchezgarcia commented on #358
Not sure if this is the same that @matthewjsummers is experiencing, but it seems that there's a mismatch between the AlgoliaClient.search interface in the typings file and the algoliasearch js file.

The js file search function takes an array of queries, but the typings takes a single query object.

[2016-12-23 12:54] CBaptiste commented on #358
There is 2 search methods, one at index level that takes a query object, another one at client level that takes an array of object (to target several indices), which one are you talking about @jsanchezgarcia ? let me know :)

[2017-01-05 12:52] elitan commented on #271
Hi, I am currently receiving the same error. I sent you a message to the support email above.

[2017-01-05 13:25] elitan commented on #271
Oups, happend when I tried to view page 1 when there was only one page in the results (pages starting at 0). I should have sent page=0, not page=1.

[2017-01-13 16:49] aksonov opened #463 "Latest algoliasearch doesn't work with React Native (0.40)"
![simulator screen shot 13 jan 2017 17 49 09](https://cloud.githubusercontent.com/assets/1321329/21937705/9f9480ee-d9b8-11e6-8d65-b64d5be8de8b.png)

[2017-01-13 18:11] omarandstuff opened #464 "Invalid Secured API-Keys"
So I'm trying to generate some secured API-Keys but it seems that they aren't generated right, I've followed the API docs without any luck.

This is what I'm doing

[code]
Everything seems to work until now
But now I want to generate some Secured API-Keys

[code]
All this was run on Node 7.2.1
Using algolia for node 3.20.3

[2017-01-13 20:26] omarandstuff commented on #464
I misunderstood the generateSecuredApiKey first parameter that actually was the origin API Key.

[2017-01-13 20:26] #464 closed

[2017-01-14 12:02] vincentwoo opened #472 "Trying to getObjects on a list with one unauthorized object fails strangely"
If you attempt to do `index.getObjects` on a list of object IDs, and the requesting client is not authorized to view one of those objects, but is okay to view the rest, the JS client throws:

`Method not allowed with this API key (nbObjects > hitsPerPage)`

which is very cryptic and took me a while to track down. Can we change the behavior to just return as many objects as are allowed, or barring

[2017-01-15 15:14] vvo commented on #464
Glad you solved this @omarandstuff, happy coding!

[2017-01-16 08:15] #395 closed

[2017-01-16 09:59] vvo commented on #472
Hi @vincentwoo this message is not actually coming from the JS client but from the actual API. Could you send a support request to Algolia so an API engineer can have a look? Thanks!

[2017-01-16 09:59] #472 closed

[2017-01-17 19:37] vvo commented on #463
Thanks I think upgrading debug should do it, doing it now.

[2017-01-17 19:54] vvo commented on #463
Weirdly I made it work with the current version but worth upgrading this dep. Can you give me the code sample you are using as for importing and using the client?

[2017-01-18 11:04] aksonov commented on #463
import algoliasearch from 'algoliasearch/reactnative';

3.14.6 version works fine.
Tried 3.17, 3.20 - they don’t work.

[2017-01-18 13:19] vvo commented on #463
Do you have any specific environment variable set?

Can you dump `npm ls` result inside your project?

The current line you are referring to should be safe in React Native weirdly: https://github.com/visionmedia/debug/blob/1c163a48c16fdfcaff734d2233bec6fff3d6f0f0/src/browser.js#L49

[2017-01-18 15:31] aksonov commented on #463
Sorry, but i believe it is NOT safe - document.documentElement is null within React Native.

My 'npm ls’ output:
├─┬ algoliasearch@3.20.4
│ ├── agentkeepalive@2.2.0
│ ├─┬ debug@2.6.0
│ │ └── ms@0.7.2
│ ├─┬ envify@4.0.0
│ │ ├── esprima@3.1.3
│ │ └── through@2.3.8
│ ├── es6-promise@4.0.5
│ ├── events@1.1.1
│ ├── foreach@2.0.5
│ ├─┬ global@4.3.1
│ │ ├─┬ min-document@2.19.0
│ │ │ └── dom-walk@0.1.1
│

[2017-01-18 18:55] vvo commented on #463
Can you investigate why `document` is defined in your react-native environment because ultimately it seems it should not be defined. So maybe you have a dependency that is injecting `document` inside your environment?

[2017-01-19 15:35] aksonov commented on #463
Oh, you are right, i’ve defined document so strophejs could work.

[2017-01-19 15:36] #463 closed

[2017-01-19 15:40] vvo commented on #463
Perfect!

[2017-01-24 02:14] lommaj opened #489 "TypeError: initialOpts.callback is not a function"
I am using algolia search client on a google cloud function in a pretty basic way.

[code]

The logs in algolia seem fine, its returning 200 and the data is being updated.

However the logs for the server are reporting the following:
`TypeError: initialOpts.callback is not a function
    at Timeout._onTimeout (/user_code/node_modules/algoliasearch/src/AlgoliaSearchCore.js:429:21)
    at ontimeout

[2017-01-24 12:28] vvo commented on #489
Hi @lommaj, indeed the signature of saveObject is:

[code]

So you should call:
[code]

Rather than

[code]

Also all our methods are returning Promises when you do not pass a callback, so there's never a need to wrap around new Promise when using the module with Promises.

[code]

[2017-01-24 12:29] vvo commented on #489
Let me know if the usage you tried to use was referenced somewhere so we can update the documentation.

[2017-01-24 12:29] #489 closed

[2017-01-25 00:48] lommaj commented on #489
Thanks, I must have gotten it from some old docs, if I come across them again I will let you know!

[2017-01-25 10:00] redox opened #492 "Add whether it's a mobile/desktop/node to the x-algolia-agent"
In order to analyse more efficiently from where our queries are coming from, we should add whether the JS API client is used from a mobile, a desktop or a backend source to the x-algolia-agent.

[2017-01-25 13:40] vvo commented on #492
For Node.js it's already the case (we send a specific UA, but we do not put the nodejs version for instance).

For browser user agents it's a bit trickier, there's no specific mobile build.

What would be the device information we want to look for? Parsing user agents? Viewport width? Ultimately this can end up in some good code.

If we are gonna parse user agents, should we do it in the JavaScrip

[2017-01-27 16:08] bobylito opened #493 "Let the user specify a custom user-agent when a request is triggered"
Currently the only way to add a new user agent is by using the method `addAlgoliaAgent` on the client instance. However autocomplete.js does not have access to the client but only to an index instance. To solve this, it would be perfect if we could set the user agent directly when the request is sent.

For now this is only required for searching (autocomplete.js)

## Proposal

Since it's only requ

[2017-01-30 08:48] bobylito commented on #493
Alt. proposal, use `x-algolia-agent` in params. Right now, it's ignored but we can append its content to the ua. (seen with @vvo)

[2017-01-30 10:55] majidhassan opened #494 "Requiring algoliasearch.parse.js breaks gulp-istanbul test coverage."
Hello,

I'm using Algolia search with parse-server. I've added tests using gulp-mocha and gulp-istanbul. Istanbul is a tool that keeps track of test coverage, everything worked fine until I added a module, that requires the algoliasearch.parse.js model. Ever since I can't seem to get any coverage on my files. Any ideas how I could fix this?

Environment
Ubuntu 14.04.5 LTS on DigitalOcean
Parse-Ser

[2017-01-30 11:08] vvo commented on #494
Hello @majidhassan I have very little to no-knowledge of parse-server related issues unfortunately.

This is the parse related code we have: https://github.com/algolia/algoliasearch-client-javascript/blob/3cf5304d120d894afb88980f597da097df17a830/src/server/builds/parse.js

If I understand well, as soon as you include our algoliasearch.parse.js your code coverage does not reports anymore coverage?

[2017-01-30 11:30] majidhassan commented on #494
Hey @vvo thanks for replying.

The problem is indeed with adding the Algolia model. Is there any code in particular that I should comment out in the algoliasearch.parse.js file, that you think might be causing this problem?

I don't think I will be able to easily pinpoint which function - if any - might be causing this by going over 3K+ lines of code. Hence, pointing me in any direction could be h

[2017-01-30 12:14] majidhassan commented on #494
@vvo I narrowed it down to 4 functions, that might be causing this issue. Meaning, that the coverage works well when removing these 4 functions, of course the Algolia model itself doesn't work that way, but at least I get some coverage.

Could you look at them and check, if there's an obvious issue causing these?

Function 0: https://github.com/algolia/algoliasearch-client-javascript/blob/master/d

[2017-01-30 12:40] majidhassan commented on #494
Hey @vvo I dug deeper into each of those functions and found that [this line ](https://github.com/algolia/algoliasearch-client-javascript/blob/master/dist/algoliasearch.parse.js#L63)causes the error. Seems gulp-istanbul doesn't like the Algolia model overriding the globals. Let me know if commenting out that line is enough, or if there's another way to do it.

[2017-01-30 12:45] vvo commented on #494
Yes I think we should try to detect the presence of the "global" keyword, if preset and has a value: keep it, otherwise, create it.

[2017-01-30 12:46] vvo commented on #494
I will do an update, in the meantime you can remove this line from your file, works?

[2017-01-30 12:48] majidhassan commented on #494
@vvo Yeah, I guess that would work. If "global" exists just add to it, if not create it. Meanwhile, it does pass while commenting out that line. I will still check if everything Algolia related still works in my code.

[2017-01-30 12:48] vvo commented on #494
Can you try:

[code]

Let me know if this works.

[2017-01-30 12:52] majidhassan commented on #494
Yep, this works!

[2017-01-30 12:54] vvo commented on #494
Ok pushed this to the repo, will be released this week as there will be a new JS client version. In the meantime you are safe doing it on your side. Thanks a lot for feedback!

[2017-01-30 12:54] #494 closed

[2017-01-30 12:54] majidhassan commented on #494
Great! Thanks for handling this quickly!

[2017-02-06 04:31] mitchlloyd commented on #358
@CBaptiste I think this is the type in question where `queries` is defined as an object rather than an array: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/algoliasearch/index.d.ts#L66

And the code requiring an array is here: https://github.com/algolia/algoliasearch-client-javascript/blob/master/src/AlgoliaSearchCore.js#L505

Be aware that I'm just getting started with TypeScript

[2017-02-08 13:57] HZ-labs opened #502 "Add a note about the CSP in the Readme"
What Content Security Policy we should use for Algolia js client?

[2017-02-08 14:55] vvo commented on #502
Hi @HZ-labs, I did not get exactly what you were asking for, are you having any issue with using Algolia and the JavaScript client right now?

If so can you give me some code samples you are using that are not working? Thanks.

[2017-02-08 14:59] asurak commented on #502
The XHR whitelist is:
[code]

[2017-02-08 15:22] HZ-labs commented on #502
@asurak Thanks! It would be useful to include the rules into documentation

[2017-02-13 22:57] #502 closed

[2017-02-23 22:35] dealharris opened #526 "Algolia backend - If number is stored as string it still reads as number"
If a number is stored as string in your backend it still reads as a number.

I found this out because my disjunctivefilters dont work.

[2017-02-24 18:07] vvo commented on #526
Hi @dealharris thanks for reporting this, could you give us a more detailed bug report by maybe creating a small jsFiddle that will demonstrate what is the issue you are facing with Algolia and the JavaScript client?

Thanks

https://jsfiddle.net/

[2017-02-28 15:02] #295 closed

[2017-02-28 15:02] vvo commented on #358
Do we need any action on this right now?

[2017-02-28 15:16] redox commented on #358
The latest typings we've released are for the `3.18.0` version. We should release new typings with every single release.

[2017-02-28 16:16] CBaptiste commented on #358
Ok I'll work on an automation script - I think it is possible

[2017-03-02 02:34] kievechua opened #527 "Reduce module size"
When checking module size, found out 1 gif file taken almost 1mb.
/examples/instantsearch.gif
![screen shot 2017-03-02 at 10 25 12 am](https://cloud.githubusercontent.com/assets/275206/23490456/b0534da2-ff33-11e6-9737-176e8218ed96.png)

Can we optimize or exclude it from npm?

[2017-03-02 10:32] Haroenv opened #529 "algoliasearch/lite is 300b bigger than algoliasearch"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

Happens on https://github.com/algolia/yarnpkg-website/pull/8

the vendor.hash.js file is 300b bigger when `import algoliasearch from 'algoliasearch/lite'` is used than when `import algoliasearch from 'algoliasearch'` is

**What is the expected behavior?**

it to be a significant amount smaller

**ide

[2017-03-06 13:13] vvo commented on #527
Need to also keep LICENSE, README, CHANGELOG and bower.json (not sure but let's not break anything).

[2017-03-06 13:20] Haroenv commented on #527
LICENSE, README, CHANGELOG are kept by default, bower.json not, so I just added it

[2017-03-06 13:48] vvo commented on #527
Did not know that, thx

[2017-03-06 13:51] Haroenv commented on #527
reference: https://docs.npmjs.com/files/package.json#files

[2017-03-06 13:57] vvo commented on #529
This is because you are duplicating the search client (one is inside instantsearch, other one is added by you). I have no solution for this, but 300b out of 100Kb is OK I guess.

[2017-03-07 13:07] Haroenv commented on #529
Since this can't be fixed at this level, closing.

[2017-03-07 13:07] #529 closed

[2017-03-08 13:06] Dev-Dipesh opened #532 "index.addObjects isn't working for large array objects"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
We've to index a large number of array objects as a batch to Algolia. `index.addObjects` fails when I tried to add **33k+** records.

**What is the expected behavior?**
The best way for this will be to provide a streaming support, but for that, you have to change both library and backend APIs, so here

[2017-03-08 13:34] vvo commented on #532
Perfect! Thanks! That's the way to go indeed, chuking and controlling concurrency. We could do this internally maybe at some point. Not yet planned.

[2017-03-08 13:34] #532 closed

[2017-03-08 13:37] iam4x commented on #532
@Dev-Dipesh fyi you have [_.chunk](https://lodash.com/docs/4.17.4#chunk) directly implemented into lodash 👍

[2017-03-08 19:15] Dev-Dipesh commented on #532
@iam4x yup totally missed that :sweat_smile:

[2017-03-11 11:35] RakanNimer commented on #291
Had same issue in react-native environment.  (For future reference)

Fixed by using @vvo's suggestion.

Cheers !

[2017-03-12 15:03] #527 closed

[2017-03-23 18:06] jasonbarry opened #541 "Option to have every facet returned, even if results for that facet are 0"
It would be useful to specify an option in algoliasearch where all available facets would return, even if there were 0 in the matching result set. The non-matched keys would also be present in the `facets` key in the response, too.

**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

Imagine the following fruit category is faceted:

- [ ] Apples (

[2017-03-24 08:53] seafoox commented on #541
👍 Doing that it would then be possible to disable click event on those with count == 0, but still display those.

[2017-03-24 08:55] vvo commented on #541
@jasonbarry We are currently discussing this internally, it requires new API features but we are investigating it. Thanks for very detailed feedback!

[2017-03-30 15:58] SamyPesse opened #542 "Flow type definitions"
By default, [Flow](https://flowtype.org/) will ignore the libraries with missing type definitions leaving them untyped. As a result, Flow can't give errors if we accidentally mis-use the library (nor will it be able to auto-complete the library).

It'd be awesome to have type definitions for `algoliasearch` added to [`flowtype/flow-typed`](https://github.com/flowtype/flow-typed).

Since we are usi

[2017-04-01 11:50] vvo commented on #542
We also have the same need for TypeScript, my main struggle being how do we automatically maintain those files with the code. I'd rather not have to manually update multiple type definitions when they are updated. Right now I do not know how to do it.

[2017-04-15 13:18] zaihuaone commented on #283
Have been built, and linked to other pages. URL: www.zaihuaone.com

[2017-04-15 13:46] zaihuaone commented on #283
http://oodusa5do.bkt.clouddn.com/1O@X0UPZS%29PYUN%60DIO1%7BI84.png

I open the permanent link is this, it should be www.zaihuaone.com)

[2017-04-19 00:00] kievechua commented on #195
Hi @vvo, when can we expect generateSecuredApiKey implemented?
This issue been for more than a year.
Also didn't see any rest api I can implement it.
Can you point me to correct direction?

[2017-04-19 07:51] Haroenv commented on #195
You should be able to do `client.generateSecuredApiKey()` on your instance already @kievechua

[2017-04-19 08:05] kievechua commented on #195
Sorry, got confused with this line.
https://github.com/algolia/algoliasearch-client-javascript/blob/master/src/AlgoliaSearch.js#L485

@Haroenv Another issue is there anyway to update or delete the securedApiKey?

[2017-04-20 21:07] GeoffreyPlitt opened #544 "Docs? API calls available?"
What functions are available on an Index object? I don't see any docs.

I was unable to answer this even after console-logging an Index object:
[code]

[2017-04-20 21:17] GeoffreyPlitt commented on #544
i.e. how do I update an object by ID? I can see what REST calls to make for this in Algolia's docs, but it isn't clear even by looking through this codebase, what function to call.

[2017-04-21 12:17] dovid opened #545 "searchForFacetValues with filters does not match when surrounded by quotes"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

When using `searchForFacetValues` with `filters` with a value like _'categories.level1:"Bakery /// Pita, Wraps & Tortillas"'_ it does not match on anything seemingly because of the quotes around _Bakery /// Pita, Wraps & Tortillas_. If those quotes are left out then an error is returned _filters: Une

[2017-04-21 12:58] dovid commented on #545
I was mistaken, this is not an issue.

[2017-04-21 12:58] #545 closed

[2017-04-21 20:47] vvo commented on #283
Hi @zaihuaone I will need a GitHub repo reproducing this issue to be able to work on it. Right now it's too vague and so I cannot help you in the good conditions.

I need to be able to reproduce you errors on my computer to be able to help you.

[2017-04-21 20:49] vvo commented on #195
@kievechua Please open a new issue describing your problem, thanks!

[2017-04-21 20:50] vvo commented on #544
Have a look here: https://www.algolia.com/doc/api-client/javascript/indexing/#update-objects

[2017-04-21 20:50] #544 closed

[2017-04-24 09:37] kati-frantz opened #547 "How to send multiple query strings to Algolia for search in multiple fields"
I don't know if this is already possible with algolia, but the docs didn't help. Can I make queries , specifying multiple search queries for different fields in my objects ? For example, I want my users to type in a pickup address, and a drop off address . Can I ask algolia to search for the records where pickup address match with query string for pickup , and the drop off address matches the quer

[2017-04-24 10:03] vvo commented on #547
Hi @kati-frantz, this is not a particular issue of the JavaScript client but more of a generic question on how to use Algolia to do X.

I would advise you to post this question, with a bit more context on what you are building and what you would want to use Algolia for, on our discourse forum: https://discourse.algolia.com/c/development

Thanks a lot!

[2017-04-24 10:03] #547 closed

[2017-04-25 22:15] GeoffreyPlitt opened #548 "Parameters not being used?"
I'm doing

[code]

And the hits are not coming back with _rankingInfo. Are the params properly being sent in multi-mode? Am I doing anything else wrong?

[2017-04-26 10:24] vvo commented on #548
Sorry that's a little bit odd to do that right now, we did a 1:1 mapping with the REST API in term of parameters:

[code]

Let me know if that works.

Ref: https://www.algolia.com/doc/api-client/javascript/search/#search-multiple-indices

[2017-04-26 16:56] GeoffreyPlitt commented on #548
That worked, thanks!

[2017-04-26 16:56] #548 closed

[2017-05-08 14:53] ericzon commented on #358
Hi, I think there's another miss in @types/algoliasearch. I've installed all the nodejs + ts dependencies today and reading on the documentation I've found this:
[search-parameters](https://www.algolia.com/doc/api-client/javascript/search/#search-parameters)

If I try the second parameter using Typescript import, it claims about this, if I use old require, it works ok.

Thanks for your efforts

[2017-05-15 18:02] xerotolerant opened #550 "Search client causing app crash on heroku"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide all the steps to reproduce and a minimal
[JSFiddle](https://jsfiddle.net/) example or a repository on GitHub that we can `npm install`
and `npm start`.**

**What is the expected behavior?**

I am trying to link algolia with firebase following the instruct

[2017-05-15 18:04] Haroenv commented on #550
Could you provide us with a reproducible app (as small as possible), that will help a lot with debugging!

[2017-05-15 18:20] xerotolerant commented on #550
I just used the sample. https://www.algolia.com/doc/guides/integrations/firebase-algolia/

[2017-05-15 18:58] vvo commented on #550
@xerotolerant Can you double check your appid? I think you are missing the last character.

[2017-05-16 01:12] xerotolerant commented on #550
Hey that was exactly the problem. Thanks a lot. It probably got messed up when I added it as an environment variable

[2017-05-16 01:12] #550 closed

[2017-05-17 12:03] spinach opened #551 "Offer partialUpdateObjectNoCreate action in partialUpdateObjects function"
**Do you want to request a *feature* or report a *bug*?**
Feature for this [function](https://github.com/algolia/algoliasearch-client-javascript/blob/b7bd36b357ca20a23e90ce21375dacb7bd878210/src/Index.js#L140). Asked by a customer.

**What is the current behavior?**
Right now, the action in the request can only be `partialUpdateObject`. Would be good to add a way to opt in to use `partialUpdateObj

[2017-05-18 12:14] #551 closed

[2017-05-24 03:38] arpit2438735 opened #553 "Discrepancy in iOS callbacks and Javascript callbacks search"
Hi Folks,

I am creating nativescript-algolia. While I am developing the plugin.I found the callback are returning in different signature for iOS and Javascript.

For iOS the callback is
[code]

and for javascript is

[code]
Can we have same signature of callback across both libraries.It's just a suggestion

[2017-05-24 05:21] Haroenv commented on #553
In JavaScript this order was specifically switched to be more consistent a long time ago. This might be a nice feature request for the iOS library, which you better ask there.

Thanks a LOT for your work on nativescript. It's an area where we're missing some integration right now

[2017-05-24 07:35] vvo commented on #553
@arpit2438735 We did it this way in JavaScript because that's also the way Node.JS APIs are made. It's not a standard only the most common way to do it.

If the one in iOS is different and not the one the community will expect then let us know.

[2017-05-24 08:29] arpit2438735 commented on #553
@vvo Sure, yeah you are right Node.JS API does work like that.I posted question/suggestion in wrong repo

[2017-05-24 08:45] Haroenv commented on #553
Good luck making your project, and don’t hesitate to reach out if you need any more help!

[2017-05-24 08:45] #553 closed

[2017-05-24 09:05] vvo commented on #553
Yes @arpit2438735 ultimately we WANT to support nativescript, multiple people have been trying to do it/asking for native script support. The truth is that our JavaScript client SHOULD be compatible but native script is missing some parts that react native have that makes it harder to have native script support.

Ultimately we would be very happy to host that nativescript client on algolia/ and do

[2017-05-24 09:20] arpit2438735 commented on #553
Thanks for your help.
Here's the repo link https://github.com/arpit2438735/nativescript-algolia
Right now it's very basic. I am adding more functionality and documentation,I am also  try to expose function convention same as Javascript so I adding a sort of layer on top of Algolia Swift for iOS as a first cut then will move to Android.If you want to contribute I will be more happy and can add in a

[2017-05-25 14:23] #394 closed

[2017-05-26 08:49] mdsaif786 opened #554 "i want to use lazy load code instead of pagination."
Hi Algolia Team Member,
1) I want to use lazy load code front end but I am unable to find lazy load code.
2) i need image fixed height and width.

**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide all the steps to reproduce and a minimal
[JSFiddle](https://jsfiddle.net/) example or a repository on GitHub

[2017-05-26 08:53] Haroenv commented on #554
Did you try [infinite hits](https://community.algolia.com/instantsearch.js/documentation/#infinite-hits) in InstantSearch.js or [React InstantSearch](https://community.algolia.com/react-instantsearch/widgets/InfiniteHits.html)?

You can look at the implementation of infinite hits there, if you prefer doing it manually.

[2017-05-26 09:26] vvo commented on #554
Hi @mdsaif786 thanks for feedback and question.

This repository is to open feedback and issues on the Algolia JavaScript API client.

If you have issues building your search UI with instantsearch.js, ask on stackoverflow or on our discourse forum: https://discourse.algolia.com/c/q-and-a

[2017-05-26 09:26] #554 closed

[2017-05-26 09:29] mdsaif786 commented on #554
No.I want to implement in javaScript....that why i asking here.

[2017-05-26 09:31] vvo commented on #554
@mdsaif786 If you want to implement infinit loading of hits using JavaScript, can you re-ask your question on the discourse forum? https://discourse.algolia.com/c/q-and-a

This repository is really to open bugs or feature request, while you have a more generic question on how to do X with Algolia. That's completely fine but you need to use the discourse forum or even StackOverflow.

Do not hesitat

[2017-05-28 15:39] gajus opened #555 "Remove es6-promise dependency"
https://github.com/algolia/algoliasearch-client-javascript/blob/a7513621e04c855768f9bb42bdab7ddd7dd36d6a/package.json#L63

It is not your (as a library) responsibility to polyfill browser features. If you must use promises, document the requirement and require that the consumer of the library polyfills the feature.

[2017-05-28 15:43] #356 closed

[2017-05-28 15:49] gajus commented on #555
As a workaround, a webpack consumer can define an alias that resolves to an empty module, e.g. `{alias: {'es6-promise': 'empty-module'}}` (and install `empty-module` module).

[2017-05-28 17:30] gajus opened #556 "Do not hardcode a specific version of debug"
https://github.com/algolia/algoliasearch-client-javascript/blob/a7513621e04c855768f9bb42bdab7ddd7dd36d6a/package.json#L61

This results in duplicate "debug" package across the entire codebase. Just target `^2`.

[2017-05-28 17:32] Haroenv commented on #556
Thanks for your continued investigation, this seems like an obvious change. Feel free to do a pull request for this.

Is there a specific reason for this pinned version @vvo ?

[2017-05-29 07:08] vvo commented on #556
At some point this failed in react native because of debug. I believe now this should be solved. Let's try

[2017-05-29 07:15] vvo commented on #555
@gajus You are totally right. [When we built the new version of the JavaScript client](https://blog.algolia.com/modern-javascript-libraries-the-isomorphic-way/), not a single environement was supporting Promises by default.

But we still wanted to push that API to consumers without having them to Polyfill Promises that we knew would be available at some point.

We have many ideas on how to again d

[2017-05-29 08:05] #556 closed

[2017-05-30 17:10] arpit2438735 commented on #553
Hi @vvo I added basic search functionality for both iOS and Android device.Do you want to host the repo in `angolia` itself so that every can contribute?

[2017-06-05 09:53] arpit2438735 commented on #553
Hi @vvo @Haroenv Any update or decision on moving the repo or shall I go ahead and push to `npm` registry?

Do you guys have any credentials for testing the api's, as my free credentials has been expired?

[2017-06-05 10:09] Haroenv commented on #553
hey, could you send an email to support+js@algolia.com so we can handle that? Have a great day!

[2017-06-16 19:09] gajus opened #560 "prepareHost is being called with an array; results in t.toLowerCase is not a function error"
I am not able to consistently reproduce the issue. However, somehow this part of the code:

https://github.com/algolia/algoliasearch-client-javascript/blob/ebac7544d6994997191c56002b8cdff53c8f3cbb/src/AlgoliaSearchCore.js#L726-L730

gets called with an array instead of a string.

I have added `console.log`:

[code]

I can the first invocation:

[code]

followed by:

[code]

Weirdly, this is happen

[2017-06-16 19:17] gajus commented on #560
Upon closer inspection, the problem is that [here](https://github.com/algolia/algoliasearch-client-javascript/blob/ebac7544d6994997191c56002b8cdff53c8f3cbb/src/AlgoliaSearchCore.js#L109), the value of `this.hosts.read` and `this.hosts.write` is:

[code]

whereas it is clear from the rest of the code that it should be a flat list.

[2017-06-16 19:19] gajus commented on #560
Turns out it is Babili issue.

Here is the relevant bug report:

https://github.com/babel/babili/issues/583

[2017-06-16 19:19] #560 closed

[2017-06-16 19:40] vvo commented on #560
Wow thanks for the bug inspection, minifiers are tricky :)

[2017-06-18 18:04] Haroenv commented on #560
After reading that Babili issue, it’s not clear to me if that fix is already released, and upgrading helped you or are now not using babel anymore @gajus

[2017-06-19 10:02] gajus commented on #560
It is not fixed. You need to disable "evaluate" plugin. See:

https://github.com/babel/babili/tree/master/packages/babel-preset-babili#options

If you are using Babili via webpack, you can disable it as such:

[code]

[2017-06-21 11:35] bobylito opened #561 "Use fetch over XHR"
Looking at PWA specs, it seems that XHR's won't be supported. If we want to be to some extent compatible, we should use it by default and fallback when needed. This will only be necessary for search queries.

 - [ ] check the API of fetch and the compatibility with XHR one
 - [ ] implement on search operations

This could be done when making the minimal client (one that has only a few functions fo

[2017-06-21 13:55] vvo commented on #561
Definitely something to look at, thanks !

[2017-06-27 14:56] Haroenv commented on #195
This can be summarised in this roadmap:

- Reduce the methods of the API clients:
  - deprecated
  - deprecate singular

- Future-first
  - only Promises
  - no Polyfills
  - evergreen browser support
    - CORS stuff

- Make it easier to iterate
  - build process
  - release process
  - unit testing

- exporting single methods
  - `import { search } from 'algolia'`
  - also add initIndex

- publi

[2017-06-27 19:02] vvo commented on #195
awesome action plan! looking forward to it :)

[2017-06-28 02:10] khrome83 opened #565 "warning react-instantsearch > algoliasearch > isarray@2.0.1: Just use Array.isArray directly"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

When install `react-instantsearch`, this node module is installed, which provides the following warning.

warning react-instantsearch > algoliasearch > isarray@2.0.1: Just use Array.isArray directly

**If the current behavior is a bug, please provide all the steps to reproduce and a minimal
[JSFiddle

[2017-06-28 02:16] khrome83 commented on #565
I did search for the issue, but it was not showing for me. I am guessing because it was in a closed PR.  #546

I caught up with the state of things. I understand the IE8 support, but I agree with the MR that a simple polyfill would be ideal over a external dependency.

The reason this hurts, is because this library is a dependency of `react-instantsearch` which is suppose to be pretty new codebase

[2017-06-28 06:48] Haroenv commented on #565
We're doing a rewrite of this library in this quarter, which will take care of this. Closing in favour of #195

Have a great day 😄

[2017-06-28 06:48] #565 closed

[2017-06-28 15:13] khrome83 commented on #565
ok sounds good. Thank you so much @Haroenv

[2017-06-29 09:09] olance opened #566 "Google Apps Script compatibility"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
"Importing" algoliasearch into an Apps Script fails with the error `document is not defined`.

**What is the expected behavior?**
It would be nice to have an App Scripts compatible build that uses the APIs provided by Google to integrate with their different platforms.

Happy to help on the subject

[2017-06-29 11:27] Haroenv commented on #566
I never heard of App Scripts before, so here's a [link](https://developers.google.com/apps-script/) for future reference.

`document` is used for two things by looking through the code:

* `document.location.protocol` in a few places.
  * won't be needed in the next version, since we'll do https alone
* `document.write` for the crazy v3 -> v2 fallback on /latest
  * will be dropped in v4
* JSONP f

[2017-06-29 14:06] bobylito commented on #566
Have you tried any of the alternative build @olance ? (server, parse...)

[2017-06-30 11:57] olance commented on #566
Well the thing is, Apps Script does not provide APIs such as Promises, `fetch` and so on.
So I think it would require its own build...

I have done a quick, dirty and incomplete client for my own purposes in the past few days, if you want to see what it looks like:
[code]

So basically here the main differences are:
- synchronous fetches
- `UrlFetchApp.fetch` instead of `fetch`

[2017-07-04 12:15] bondarewicz opened #568 "README broken link"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When user clicks on 500 contacts link within [Push data](https://github.com/algolia/algoliasearch-client-javascript/blob/master/README.md#push-data) section, no content is displayed

**What is the expected behavior?**
When user clicks on 500 contacts link within Push data section he/she should be prese

[2017-07-04 12:28] #568 closed

[2017-07-04 12:29] Haroenv commented on #568
Thanks for noticing that, the current link is https://github.com/algolia/datasets-public/blob/master/contacts.json

[2017-07-04 12:31] Haroenv commented on #568
By the way, don't forget to also check out [react-instantsearch](http://community.algolia.com/react-instantsearch/) or [instantsearch.js](http://community.algolia.com/instantsearch.js/v2)!